[2015-01-13 19:25] erictse opened #2 "publish new version on npm, bower"
that has commit https://github.com/jhudson8/react-chartjs/commit/ad796702f52d459812922b06252a13b4be2129ad

thanks

[2015-01-13 19:37] jhudson8 commented on #2
v0.1.2

[2015-01-13 19:37] #2 closed

[2015-01-19 11:32] andrinealver commented on #2
@jhudson8 you may have released `v0.1.2` to npm/bower but it's not actually got the commit in. Likewise, the built and minified versions in the repo don't actually have the code in!

[2015-01-19 14:21] jhudson8 commented on #2
doh!  I must have forgotten to pull down your commit.  I just tagged v0.1.3

[2015-01-24 19:59] sylg opened #3 "Does this work with Browserify?"
I'm getting this error in the browser:

`Uncaught Error: The charts were not initialized with the React instance`

with this sample test:

[code]

React (via Browserify) work fine alone if remove everything related to react-chartjs...

If I fall back to just using script tags to load chart.js and react-chartjs, everything works fine.

[2015-01-26 13:31] jhudson8 commented on #3
Looks like you didn't follow the install instructions (see README.md).  You must do this once before you use the charts.

[code]

[2015-01-26 13:32] #3 closed

[2015-01-26 13:34] jhudson8 commented on #3
FYI, the next release won't require this

[2015-01-26 13:57] jhudson8 commented on #3
this change has been made in v0.2.0

[2015-01-27 10:26] sylg commented on #3
Thanks for the quick reply. Awesome :+1:

[2015-01-28 06:40] seanadkinson opened #4 "0.2.1: Using Webpack throws: The charts were not initialized with the React instance"
It says in issue #3 that you wouldn't need to do the manual settings of the `vars` thing in `0.2.0`, but I have `0.2.1` installed via NPM, and still getting this issue on a very simple example.

Webpack doesn't have the `require` function at runtime, so the `typeof require` statements are failing in the code that should dynamically require react (https://github.com/jhudson8/react-chartjs/blob/mast

[2015-01-28 07:20] seanadkinson commented on #4
For what I wanted/expected this library to do, it just wasn't quite there.  I've changed things around a bit in the fork I just made, and published to npm as `react-chartjs-commonjs`, since it really only supports CommonJS well.

Repo here: https://github.com/seanadkinson/react-chartjs

I may break it out to it's own repo with another name (giving original credit to your still of course), unless y

[2015-01-28 12:54] jhudson8 commented on #4
sure, feel free to PR it - I welcome additions

[2015-01-28 17:08] seanadkinson commented on #4
My changes would make it so that it only really supports CommonJS, though, so I'm not sure if you want them merged in.  I'll open a PR and you can look at it, but I deleted more than I probably should have, thinking it would end up being a separate, so I can put some things back if you need em.

[2015-01-30 14:23] andrinealver commented on #4
:+1:
Thanks @seanadkinson - saved our day :)

[2015-02-06 20:04] KaeruCT commented on #4
:+1: another thanks from me @seanadkinson

[2015-02-06 21:09] jhudson8 commented on #4
ok, I may take a look at it this weekend.

[2015-02-06 21:29] seanadkinson commented on #4
Yeah, sorry I haven't circled back on this @jhudson8.  I was using this on a side project, not my day job, so I just haven't carved out time to dig into supporting both CommonJS and AMD modules.

[2015-02-06 22:39] jhudson8 commented on #4
I've published a 0.3.0 release which should work well for commonjs/webpack/browserify.  Please let me know if there are any issues.

@seanadkinson obviously you can do what you want but, unless there is some reason to have a separate published fork, I'd appreciate if you direct people to this project just to fragment things.  If you'd like to be a maintainer on this project, that's fine.

[2015-02-06 22:39] #4 closed

[2015-02-06 22:45] jhudson8 commented on #4
no worries.  I only use commonjs (and had to put my side project on hold which is why I didn't notice the issue).  I agree with you in the fact that people are really (or at least should be) going to be using commonjs.

[2015-02-06 23:22] seanadkinson commented on #4
Cool, I'll upgrade to 0.3.0 this weekend, and assuming it all works okay, I'll delete my fork and npm module.

@andrinealver and @KaeruCT, please upgrade to 0.3.0 of this repo, as I won't be maintaining `react-chartjs-commonjs` if this repo does the same thing.

Thanks @jhudson8!

[2015-02-07 16:30] jhudson8 commented on #4
No problem. I tested it out and it should be good but let me know of you
have any problems

On Fri, Feb 6, 2015, 6:22 PM seanadkinson notifications@github.com wrote:

[2015-02-07 21:32] pghalliday commented on #4
I notice that chart.js still needs to be added globally. This seems unnecessary if using commonjs. I worked around it by npm installing chart.js and adding the following to a module as chart.js does support commonjs

[code]

Seems that it would be better to add chart.js to peerDependencies and require it in core similar to @seanadkinson 's approach

[2015-02-08 01:31] jhudson8 commented on #4
I'll do that.  thanks @pghalliday - this is stupid but I didn't realize that there was a npm package for chart.js.  You should expect a new release tomorrow.

[2015-02-15 18:18] jefffriesen opened #7 "Can I update chart instead of destroy on componentWillReceiveProps?"
I would like to `.update()` the chart when data changes. Right now, passing `data` into the chart component triggers a `.destroy()` and `initializeChart()`, which completely redraws the chart instead of transitioning the data from one point to another.

I see `update`, `addData` and others in the `extras`, but I couldn't figure out how to call those when new props were passed in.

[2015-02-15 18:59] jhudson8 commented on #7
Honestly, that area probably needs a little more thought.  I welcome pull requests

[2015-02-16 04:22] jefffriesen commented on #7
PR submitted: https://github.com/jhudson8/react-chartjs/pull/8

[2015-02-16 22:18] jefffriesen commented on #7
addressed by https://github.com/jhudson8/react-chartjs/pull/8

[2015-02-16 22:18] #7 closed

[2015-02-20 01:37] lukebrooker opened #9 "Using the `responsive: true` true option causes errors"
Specifically:

[code]

In the Chart.js library itself. I have an idea of why this is happening, but I am still a little too early to react to work it out.

[2015-02-23 12:22] teamrun opened #10 "How can i bind event to a chart"
in chart.js doc, [BarChart prototype-methods](http://www.chartjs.org/docs/#bar-chart-prototype-methods), i can bind click event listener to the canvas and get the clicked bar via *chart instance*'s methods. But in react, in this component, i can not access to the chart instance, even i do not know where is the canvas is... so how can i bind event listener and get the bar clicked?

[2015-02-23 12:57] jhudson8 commented on #10
I've released 0.5.0 which has 2 additional methods on all chart components
- **_getChart**_: return the chartjs instance
- **_getCanvass**_: return the canvass DOM element

[2015-02-23 12:57] #10 closed

[2015-02-23 13:00] jhudson8 commented on #9
FWIW, react-chartjs is just a very light wrapper around the chartjs lib.  You don't have enough detail here for me to be able to respond here.  Can you either provide more meaningful details for close this out?

[2015-02-23 13:13] jonespen commented on #9
I also get this (using webpack), guess its related to this https://github.com/nnnick/Chart.js/pull/918

[2015-02-24 00:52] jhudson8 commented on #9
I'm closing the issue here since it is not a react-chartjs issue but rather a chartjs issue.  nothing I can do about it...

[2015-02-24 00:52] #9 closed

[2015-02-24 01:00] lukebrooker commented on #9
Thanks, that was the issue that @jonespen mentioned.

[2015-02-24 03:01] teamrun commented on #10
Yeah, thanks a lot, this solves my problem~

[2015-03-26 10:05] nosnickid opened #13 "Include "dist" versions"
It seems common for packages to include pre-packed dist versions. It's useful for non-nodejs projects which want to use the library.

Any objection to me submitting such a pull request?

[2015-03-26 11:18] jhudson8 commented on #13
no objections.  this used to support browser include and AMD but was changed after refactoring to only support CommonJS (for node, webpack, browserify...).  Just as long as it doesn't add too much complexity.

[2015-03-27 17:42] #13 closed

[2015-04-02 14:09] sklise opened #15 "Support for .addData and .removeData?"
I'm trying to use this library to re-use a graph that can switch from 7 items to 30 items. It seems that whenever the number of items changes I get `Uncaught TypeError: Cannot set property 'value' of undefined` This happens every time the number of values to be charted changes.

If I have the `redraw` option enabled then these errors do not occur. With the `redraw` I would need to set `animation:

[2015-04-02 18:39] jhudson8 commented on #15
can you make a unit test or a jsbin or something - I'm not actively using react-chartjs at the moment because I got caught up in another project but I'll have a look

[2015-04-06 20:45] dandonahoe commented on #10
I'm somewhat new to ReactJS and can't seem to get ```getChart``` working.

Could you post an example?

[2015-04-06 22:53] dandonahoe opened #16 "How to call getChart and getCanvass"
Issue #10 mentions two methods:

* **getChart**: return the chartjs instance
* **getCanvass**: return the canvass DOM element

which expose the internal ChartJS object, but I'm not sure how to actually call those. Could someone provide a quick example of invoking either of those methods?

[2015-04-10 20:03] sklise commented on #15
ah, in trying to figure out how to recreate the issue with jsfiddle/bin I found what the problem was, and it was my code. I had a `chartData` object with `{datasets: {key1: {...}, key2: {...}}` instead of `{datasets: [{...},{...}]`

Which works fine except for when `updatePoints()` was called.

Thank you for your time!

[2015-04-10 20:03] #15 closed

[2015-04-14 23:16] heybenchen commented on #16
Here's an example using getCanvass to bind a click on a point on the chart:
https://gist.github.com/superchoob/08329444afe9c0f33afc

[2015-04-15 00:20] dandonahoe commented on #16
Huge thanks @superchoob

[2015-04-15 00:20] #16 closed

[2015-05-03 20:52] adamellsworth opened #19 "generateLegend prop not working"
I'm not able to create a legend via the `generateLegend` prop. From the examples I see on stackoverflow, it looks like the legend needs its own div, so applying it directly to the `this.state.chart[name]` via the following function may not be working:

https://github.com/jhudson8/react-chartjs/blob/master/lib/core.js#L21

Here's my markup:

    <LineChart data={chartData} options={chartOptions} re

[2015-05-04 21:32] adamellsworth opened #20 "Uncaught TypeError: Cannot set property 'xLabels' of undefined"
This pertains to the codebase on https://github.com/jhudson8/react-chartjs/pull/17

https://github.com/aaronhayes/react-chartjs/blob/master/lib/core.js#L45

Oddly, while it does update the chart with the pertinent labels, It's still throwing this error with no perceivable repercussions as new data is fed into the char.

---

In Firefox, instead of the xLabels error, I get:

    TypeError: nextProp

[2015-05-06 01:43] aaronhayes commented on #20
ahh yes, forgot to mention there is an error in chart.js itself. It has been fixed in a recently merged pull on https://github.com/nnnick/Chart.js. However a release has not been made yet.

[2015-05-06 12:46] temnoregg commented on #19
I think it is not working like this... you have to call generateLegend() over the graph reference to get the legend...

That's why I ended with separate Legend component like this:

[code]

[2015-05-08 19:54] mydearxym opened #21 "react-native support ?"
amazing work!
is this component support react-native?

[2015-05-13 09:38] bultas opened #22 "Redraw and nextProps"
In my opinion, should be in Core.js/componentWillReceiveProps `nextProps.redraw` instead of `this.props.redraw`,
With nextProps.redraw you enable to choose how user want draw the chart in next update cycle (redraw:false with new metrics or redraw:true with new labels,..).
But with this.props.redraw you can affect only second update cycle, which is not so flexible and you can not redraw chart insta

[2015-05-13 15:09] jhudson8 commented on #22
sounds like a better approach. feel free to create a PR.  Thanks

[2015-05-15 23:20] ghost commented on #22
Thanks a lot bultas! I was having this weird bug where the chart redraws only in the second update.

[2015-05-21 12:33] #22 closed

[2015-05-21 12:34] jhudson8 commented on #21
I really don't know if react-native supports canvas.  Try it out and let me know

[2015-05-21 12:35] jhudson8 commented on #19
looks like this was answered.  thanks @temnoregg

[2015-05-21 12:35] #19 closed

[2015-05-29 15:21] adamscybot opened #24 "Changes to options should cause a redraw, even if redraw is set to false"
At the moment, if redraw is off, the chart doesn't redraw if you change the options. IMO, whenever the options change, the graph should redraw no matter what. The redraw property should pertain to data updates only.

[2015-06-02 20:18] nathandao commented on #24
I encountered the same issue. Added a needsRedraw function to core.js to check if the data change requires redraw:

    var needsRedraw = function(nextProps, chart, dataKey) {
      var name = chart.name;
      var redraw = false;

      if (name === 'PolarArea' || name === 'Pie' || name === 'Doughnut') {
          nextProps.data.forEach(function(segment, segmentIndex) {
          if (chart.segmen

[2015-06-02 21:23] nathandao opened #25 "needs addData support for round charts"
There seems to be no support for addValue for round charts (polararea, pie, doughnut).

When the initial state chartData is empty - to be updated through ajax, the chart breaks and won't load. This has to do with the introduction of new segments.

[2015-06-03 14:46] joelving opened #27 "Support community extensions"
Chart.js makes it easy to extend the range of chart types available, but react-chartjs hides these by hard-coding the chart types available.

I understand it is rather trivial to do this yourself when building using node and Gulp, and it wasn't hard to modify the standalone build either, but it would be nice not to have to modify the source every time you include a custom chart, if for no other re

[2015-06-11 17:11] sbowman opened #28 "Calling getBarsAtEvent fails"
Whenever I try to call getBarsAtEvent, I get the error:  "Uncaught TypeError: Cannot read property 'apply' of undefined".

I've got this JSX:

[code]

In my chartClicked method, I call:

[code]

According to the error, this bit of code in core.js is failing:

[code]

I put a few debug messages in there, and "name" is blank, so this.state.chart[name] is undefined.  What exactly is this bit of code

[2015-06-11 17:13] sbowman commented on #28
This will work, however:

[code]

[2015-06-21 16:13] Huxpro opened #30 "AMD/RequireJS Support?"
Have any idea support AMD?
ChartJS works very well with AMD Loader

Manually add AMD wrapper is annoying

[2015-06-21 17:23] Huxpro commented on #30
Well.. after finishing the conversion..

No more RequireJS , I swear...

[2015-06-22 05:09] Huxpro opened #31 "Example of getCanvas() and getChart()"
Could you give me a code example how to use the method?

[2015-06-22 05:24] Huxpro commented on #31
Well, I figure out.

The child-component can be referenced by `ref` props

[code]

[2015-06-29 03:22] conorhastings commented on #30
according to the docs, only commonjs is supported, https://github.com/jhudson8/react-chartjs

[2015-06-29 12:05] jhudson8 commented on #30
Thanks.  I meant to respond but didn't get to it.  Only commonjs is supported.  There are no plans to support AMD (use http://webpack.github.io/)

[2015-06-29 12:05] #30 closed

[2015-06-29 12:06] jhudson8 commented on #20
closing this as it is not an issue with react-chartjs

[2015-06-29 12:06] #20 closed

[2015-06-30 09:59] joshhornby opened #32 "legendTemplate"
In the [options object](http://www.chartjs.org/docs/#doughnut-pie-chart) you can add a ```legendTemplate```

Is there a way to render this in a react component?

[2015-06-30 21:35] framerate commented on #32
I'm also curious about this.

[2015-06-30 21:41] framerate commented on #19
Can someone please clarify this? @temnoregg @jhudson8

`you have to call generateLegend() over the graph reference to get the legend...`

I don't follow what you mean. I can't seem to find any documentation on the legend stuff

[2015-07-01 14:55] jhudson8 commented on #32
Sorry guys, I'm super swamped at work and don't have the time to dig into the code - and don't remember how to do this.  If anyone is interested in helping to maintain this project I'm happy to add them as an owner.

[2015-07-01 16:52] adamscybot opened #33 "TypeError when setting new data that has less labels than original number of labels"
If you update data and the new data has less labels than the previous number of labels you get the error:

[code]

Its related to the line

[code]

Should probably trigger a redraw...

[2015-07-02 13:30] jhudson8 commented on #32
@adamscybot I'm not just looking for someone to add some fixes.  I'm looking for someone who will respond to questions, add new features and evaluate pull requests.  Are you up for that?  If not that's cool - just submit your fixes as PRs and I'll merge them in.

[2015-07-02 14:41] temnoregg commented on #19
I mean like this

[code]

[2015-07-10 13:23] joshhornby commented on #32
@jhudson8 We are using this on a fairly large project so we eager for this to maintain active. I would happily carry out the tasks you stated above.

[2015-07-10 13:49] joshhornby commented on #32
@framerate In order to render the legend `this.refs.lineChart.state.chart.generateLegend()` will get you a HTML string.

Might also be worth looking at https://facebook.github.io/react/tips/dangerously-set-inner-html.html

[2015-07-10 13:49] #32 closed

[2015-07-11 21:28] jhudson8 commented on #32
@joshhornby done!

[2015-07-12 10:19] joshhornby commented on #33
I have had this issue as well, I added  `redraw` as per the docs

`if data passed into the component changes, points will animate between values using chart.js' .update(). If you want the chart destroyed and redrawn on every change, pass in redraw as a prop. For example <LineChart data={this.state.chartData} redraw />`

If you want to make this dynamic please submit a PR.

[2015-07-12 10:19] #31 closed

[2015-07-12 10:20] #25 closed

[2015-07-12 10:21] joshhornby commented on #24
This seems similar to issue https://github.com/jhudson8/react-chartjs/issues/33.

If you have ideas how to fix more than welcome to accept PR

[2015-07-12 10:22] joshhornby commented on #21
@mydearxym You could try https://www.npmjs.com/package/react-native-canvas but it seems to be quite alpha.

[2015-07-12 10:22] #21 closed

[2015-07-12 10:24] joshhornby commented on #27
Agreed @joelving. If you wish to submit a PR I will take a look and we can work out a solution.

[2015-07-13 17:20] stevewillard opened #34 "Is it possible to define callbacks for events?"
I'm looking for a react graphing library that allows the user to select points in a line chart, or maybe selecting a single bar in a bar chart. Do you know if it's possible with this library?

[2015-07-13 18:08] joshhornby commented on #34
Take a look at http://www.chartjs.org/docs/#line-chart, if you hover over a point then you can see the data that corresponds to the relevant point yes.

[2015-07-13 18:08] #28 closed

[2015-07-13 18:09] joshhornby commented on #28
@sbowman That seems the only way to get the function yes.

[2015-07-13 19:20] stevewillard commented on #34
Cool, thanks! Was able to cobble together a click handler. Do you also know if it's possible "select" a point and keep it selected until another one is clicked?

[2015-07-13 20:28] stevewillard opened #35 "Chart not rendering initially, only after chart updates"
Anyone have any idea why my chart doesn't render initially, but if I update the component using the react-hot-loader (webpack), things redraw. This is my component:

I tried throwing on the "redraw" prop but it doesn't seem to help.

[code]

[2015-07-15 08:19] Huxpro opened #36 "Canvas collapse with a display-none wrapper"
If the react-chart components is placed into a default display-none component, the canvas would be set to `<canvas height="0">` .

Even if `states` change and a re-render triggered, the canvas re-calculate sizes but height still equal to 0 .So a error will be throw: `Uncaught IndexSizeError: Failed to execute 'arc' on 'CanvasRenderingContext2D': The radius provided (-0.5) is negative.`

I dont kno

[2015-07-15 08:46] Huxpro commented on #36
Finally found it is a issue in ChartJS.

Here: https://github.com/nnnick/Chart.js/issues/1311

[2015-07-15 22:15] mnishiguchi commented on #33
I made a component for Chart.js from scratch. I destroy an old instance and re-initialize a chart on `componentWillUnmount` rather than `componentWillReceiveProps`. Also, I replace the whole data every time the component is provided with new data. This way, we can keep our code simple. I share with you a simple helper method I wrote to generate a chart component class.

Please check out [Interacti

[2015-07-16 16:17] mnishiguchi commented on #34
You can do it by setting the global configuration of Chart.js as follows:
`Chart.defaults.global.tooltipEvents = ["click", "touchstart", "touchmove"]`

Now you can hold the selection after each click.

By default, tooltipEvents is set to `["mousemove", "touchstart", "touchmove"]`

[2015-07-16 16:43] mnishiguchi commented on #35
One thing I noticed is that in your code `responsive: true` which is NOT a chart option. According to Chart.js documentation, we need to set it like: `Chart.defaults.global.responsive = true;` globally.

[2015-07-16 17:05] mnishiguchi commented on #35
Also, the state doesn't exist until the component is mounted according to [React.js documentation](https://facebook.github.io/react/docs/component-specs.html#getinitialstate). Therefore, placing chart data in this.state is not a good idea in this case. How about getting data through this.props from parent component?

[2015-07-16 17:15] mnishiguchi commented on #35
Also, according to React.js [documentation](https://facebook.github.io/react/docs/component-specs.html#getinitialstate), we are not allowed to directly set `this.state`. We should use `getInitialState()` instead. How about this?
1. Provide data through `props` from parent component
2. Store the `this.props.data` in the component's state using `getInitialState()` like
  `getInitialState: function()

[2015-07-16 19:11] stevewillard commented on #35
I tried setting global.responsive = true, but that doesn't seem to change anything.

I like the idea of providing data through props -- I assume that'll require a pull request?

[2015-07-16 20:31] mnishiguchi commented on #35
Please take it easy. You do not need a pull request for that. It is about your implementation. In your code, you place the data using this.state, which is the source of the problem. We cannot directly control state ourselves, React does on our behalf. You have props in your constructor you can pass data by using that props, then inside your component, set it as default state using getInitialState.

[2015-07-16 20:50] stevewillard commented on #35
Hmm ok, I think I misunderstood what you were originally saying.

I tried passing in some props to this component, and then passing down these props to my react-chartjs <Line /> component, but I still have the same behavior: it doesn't render based on the props until I re-render (hot load) or change the state.

[2015-07-17 01:20] mnishiguchi commented on #35
Hey Steve, I just realized rules are a bit different for ES6 from other scripts. I was reading [this](https://facebook.github.io/react/docs/reusable-components.html). My apologies, you were not entirely wrong! I use CoffeeScript so I was just trying to directly translate word by word.
Having said that, I wrote something similar to what you were trying to do, selfishly converting everything into Co

[2015-07-23 10:23] aakrem opened #37 "Chart not rendering on receiving new props"
[code]

[2015-07-23 19:21] mkurtzsd opened #38 "updatePoints crashes when providing a new dataset with more points than the prior dataset"
The issue is in the updatePoints function in Core.js.  This bug has already been fixed in the master branch of the project.  What is the ETA for release of this fix?  I am currently testing against a clone of the master branch.  However, I am using node for distribution to my production server and the last available release is 0.6.0 which still has the bug in it.

[2015-07-23 20:33] stevewillard commented on #35
Ugh I still can't seem to get this to work. I think this must be a bug with react-chartjs. I'll try to do something similar to your home made chartjs wrapper, I think.

[2015-07-23 21:51] mnishiguchi commented on #35
I wish I could look into it further with you but I need to learn the new syntax first ;)
I implemented it from scratch but working perfectly on my Rails app. Trust me. Try to translate it in your language. Let me know how it goes, because I want to improve it if necessary. Good luck!

[2015-07-29 01:27] dennisjac opened #39 "Error when using webpack-dev-server with indication url"
I've run into a problem when using react-chartjs in the context of webpack-dev-server but only when using the indication url. When I use the url "http://localhost:8080/" to connect to the dev-server the doughnut I'm trying to render works fine but if I use "http://localhost:8080/webpack-dev-server/" the page itself renders fine but there is only empty space where the doughnut should be and in the

[2015-07-29 03:20] dennisjac opened #40 "DoughnutChart no longer rendering when accessing this.props in parent component"
Something really strange is happening when I try to build data dynamically for a DoughnutChart. Consider the following render function:
[code]
Notice the two if lines with one of them commented out.
When run like this the DoughnutChart is rendered as expected.
Now comment the "if (x > 0) {" line and uncomment the other if line.
Suddenly the chart no longer renders with an error of "TypeError: char

[2015-07-30 22:56] framerate commented on #38
I too am seeing this.

[2015-08-03 21:10] djalmaaraujo commented on #38
+1
Just had this issue.

[2015-08-12 21:37] joelving commented on #27
I was obviously too hasty in my review of the source. Your solution of exposing the createClass method is perfectly adequate, and can easily accommodate additional chart types that attaches to the main object.

Big props! :)

[2015-08-12 21:37] #27 closed

[2015-08-18 21:11] tquetano-r7 opened #41 "Pie chart woes"
Having issue with Pie charts. I'm passing in data with a basic format:

[code]

And calling it as such:

[code]

And get the error "cannot assign value on undefined" on:

[code]

I've checked, the segmentIndex is correctly showing as 0. Is there something I'm missing?

[2015-08-18 21:49] tquetano-r7 commented on #41
Quick update ... I've "fixed" the problem by only rendering the chart if there is data. It appears that when an empty data array is passed it blows up, so I have a simple if / else in the render to just show a default. While this works now, I feel like there should be something that exits without error.

[2015-08-18 22:15] #41 closed

[2015-08-18 23:12] NOX73 commented on #38
+1, anybody home?

[2015-08-26 20:24] jerryf196 opened #43 "Question: With Advanced Usage"
How can I use this method?

From the chart.js site:
var myLineChart = new Chart(ctx).Line(data);
myLineChart.generateLegend();

Since react.js is rendering the pie chart.
<PieChart ref="pieChart" data={data} options={chartOptions} />

[2015-08-27 11:45] Dallas62 commented on #37
use: `redraw`

    <DoughnutChart data={data} options={chartOptions} redraw />

[2015-08-27 13:37] aakrem commented on #37
redraw works thanks
solution `<DoughnutChart data={chartData} options={chartOptions} redraw/>`

[2015-08-27 14:11] Dallas62 commented on #37
Sorry, just working on the same issue, but `redraw` is ugly with the animation.

Just find that if the total of all `value` is `0` the chart do not update. (Seems to come from ChartJS)

I just not render the `DoughnutChart` when total = 0, and render the Chart when it's ok.

[2015-08-27 16:39] Dallas62 commented on #43
You can use `.getChart()` on the chart element then you have the `myLineChart` instance.

[code]

[2015-08-31 09:11] f15gdsy opened #44 "How to resize the chart manually?"
Hi I want to resize the chart manually, how should I do it?
I'm looking for something like:
[code]

[2015-08-31 09:20] f15gdsy commented on #44
Oh, I figured it out.
One have to pass

[code]

as props to the chart component to make the chart to redraw to the preferred size.

[2015-08-31 09:20] #44 closed

[2015-09-03 19:42] TylerDixon opened #45 "New Tag?"
A tag hasn't been made since March, I was wondering if a new tag could be made & update to `package.json` for the NPM users?

[2015-09-03 22:56] DavidWells commented on #34
How do the chart global options work in the react component? Chart is undefined in the context of the component.

So the global options overrides don't work.

[code]

How can I set them inside the example?

[code]

Many thanks!

[2015-09-04 21:27] Kaizhi commented on #38
+1

[2015-09-06 01:10] mnishiguchi commented on #34
The global options are not for a specific chart instance. They are set on the global Chart object.
So it does not matter whether a chart has already been instantiated or not.
Just make sure Chart.js is available in your project then put `Chart.defaults.global.scaleFontSize = 0;` anywhere.
Also, I do not think this is an issue about this library. We should refer to Chart.js documentation since this

[2015-09-18 03:28] mrjumpy commented on #32
Hi,
In PieChart,
still can't show legendtemplate.

[2015-09-18 12:56] dmr opened #47 "React 0.14 compatiblity"
Hi everyone,
two things I had to change to make react-chart compatible with the latest reactjs 0.14 beta:

1.  I removed the ```getDOMNode()``` from ```this.refs.canvass.getDOMNode()``` core.js line 66.
2. ```var el = this.getDOMNode();```--> ```var ReactDOM = require('react-dom'); ReactDOM.findDOMNode(this);```

react-chartjs is working fine in reactjs 0.14 beta after that :)
Just wanted to let y

[2015-09-20 09:58] asci commented on #47
any pull request, fork?

[2015-09-20 14:12] dmr commented on #47
Sure, https://github.com/jhudson8/react-chartjs/pull/48.

[2015-09-21 18:55] margono13901 opened #50 "Communicating with other react components"
Hi,
I am trying to communicate with other react components, however i am getting this error

Only a ReactOwner can have refs. This usually means that you're trying to add a ref to a component that doesn't have an owner (that is, was not created inside of another component's `render` method). Try rendering this component inside of a new top-level component which will hold the ref.

My react-chartjs

[2015-09-21 22:07] quarterto opened #51 "React and Chart.js are not peerDependencies"
`peerDependencies` aren't things you `require`, they're things that your module works alongside of (e.g. Grunt plugins have Grunt as a `peerDependency`). Moreover, since npm 3.0, they're not installed automatically when you install a module.

Since you `require` React and Chart.js, they're regular `dependencies`. You should move them to `dependencies` in `package.json` and give them version constr

[2015-09-22 20:49] raylenmargono commented on #51
hello is this a response to my issue?

[2015-09-23 10:13] apaleslimghost commented on #51
No?

[2015-09-24 01:35] WarbleSync opened #53 "PieCharts"
Can you give an example with a legend on PieCharts?  I'm unable to get it working using the legendTemplate from the examples.

[2015-09-27 17:58] javierbyte commented on #38
+1

You can workaround this by adding key={data.length} or something similar.

[2015-09-30 00:24] queimadus commented on #43
@Dallas62, does your example still work in the latest react version?

[2015-09-30 07:09] Dallas62 commented on #43
@queimadus I'm using react 0.13.3 and it seems to work. But the legend isn't a ReactElement.

[2015-09-30 10:09] queimadus commented on #43
@Dallas62, my question specifically is if you can access the `getChart()` method before the `ChartElement` is rendered by the `render` method.

I managed to access the `chart` by rendering the `ChartElement` with a `ref` and then doing `this.refs.chart.state.getChart()` in the `componentDidMount` e.g..

How are you accessing the chart? Could you give an example?

Ideally, I'd like to render the `C

[2015-09-30 10:15] Dallas62 commented on #43
@queimadus I do not use `generateLegend()` in my case, I generate the legend myself.

I just answered to the question: How can I use this method?

[2015-09-30 10:19] queimadus commented on #43
@Dallas62 so you don't access the underlying `chart` object from _chart.js_ encapsulated in the `ChartElement` at all.

You generate the legend from the `data` you pass as props to the `ChartElement`. Is that it?

[2015-09-30 10:39] Dallas62 commented on #43
Exactly

[2015-10-13 05:30] MrBigKuma opened #55 "Doughnut's color, label do not change when receiving new props data"
When I add new data for Doughnut chart, the value changes but not the label or color.
Checking the code, it seems like the only change is value
[code]
I don't want to use _redraw_ because of ugly animation.

[2015-10-15 06:31] flccrakers commented on #40
I have no idea at all and would like to know what's the problem here.
I have the same kind and don't know how to fix it…

[2015-10-15 20:49] mikedevita opened #56 "how do add data to a line chart without redraw"
i guess im confused on how to implement this with a dynamic loading of data..

This is basically my code to test this out..

[code]

This all works great for loading the initial data, The chart displays fine, however after the timer hits 5 seconds later. i get an error and the chart doesn't update.

If I add a `redraw` to the <Line />` component then it renders fine after 5 seconds.. problem is th

[2015-10-19 12:37] sspross commented on #47
+1

[2015-10-22 14:33] jspdown commented on #50
Hi @margono13901,

Does a `npm ls | grep react` give you the following output?

[code]

This error means react has been loaded more than one time.
If you got a similar output, try this:

[code]

[2015-10-22 16:42] mgibeau commented on #47
I'm also interested in having this merged, but I believe to be safe the _peerDependencies_ should be updated to:

[code]

[2015-10-23 14:56] dmr commented on #47
@mgibeau Yes, I also think peerDependencies is the way to go here! --> #48

[2015-10-27 20:02] gustavoschmidt commented on #47
+1

[2015-11-03 18:37] qustavo commented on #35
It happened the same here, did you try with?

[code]

[2015-11-05 08:55] omerts opened #57 "server side rendering, getting window is not defined error"
Hello,

Trying to use this library with server-side rendering, but I am getting a "window is not defined error", since Chart.js is referencing the browser's window object, even if it is only imported, before any usage.

[2015-11-05 12:40] naugtur commented on #47
@dmr peerDependencies are deprecated and will not work anymore in npm v3, which will be coming to node v4 during the LTS period and is already the stable version - you get it when you `npm install npm`

[2015-11-05 14:22] mgibeau commented on #47
@naugtur They are not being deprecated, they are simply no longer being installed automatically. They still work in npm 3, as long as you install them manually, which is completely fine and makes sense in the context of plugins such as chartjs.

[2015-11-05 17:30] naugtur commented on #47
If you're aware of this, it's cool.

btw. is this project alive? I'm wondering if I should switch to rc-chartjs, which is more up-to-date

[2015-11-08 15:23] keenwon opened #58 "Update to React 0.14"
Update to React 0.14

[2015-11-09 15:34] zackify commented on #58
see #59, just change your version number in npm to https://github.com/zackify/react-chartjs and it will work for now :)

[2015-11-19 17:34] ararog opened #61 "ES6 example?"
Hi,

I'm trying to make use of bar chart in a React app using ES6/Babel, but no matter what I try I'm always getting the following error:

Uncaught TypeError: Cannot read property 'Chart' of undefined

Anyone had this issue before?

[2015-11-19 19:04] ararog commented on #61
In fact this is a webpack related issue, I solved by injection window into module using webpack's import-loader as described here:

http://webpack.github.io/docs/shimming-modules.html#importing

[2015-11-23 03:59] austinpray commented on #61
Can you post your full file? ES6 Works fine for me.

[2015-11-23 08:32] #61 closed

[2015-11-24 10:07] bramschulting commented on #56
@mikedevita have you figured out a way to do this? I'd like to append data to a dataset and I'm running into similar problems.

[2015-11-28 22:07] steveleec opened #62 "Warning: LineChart.getDOMNode(...) is deprecated. Please use ReactDOM.findDOMNode(instance) instead"

[2015-11-30 13:31] joshhornby commented on #58
https://github.com/jhudson8/react-chartjs/pull/59

[2015-11-30 13:31] #58 closed

[2015-11-30 13:31] joshhornby commented on #62
https://github.com/jhudson8/react-chartjs/pull/59

[2015-11-30 13:31] #62 closed

[2015-11-30 13:31] joshhornby commented on #47
https://github.com/jhudson8/react-chartjs/pull/59

[2015-11-30 13:31] #47 closed

[2015-11-30 13:33] joshhornby commented on #45
https://github.com/jhudson8/react-chartjs/commit/c7edab0d54496af3695addd75d4d1c428d5e07b6

[2015-11-30 13:33] #45 closed

[2015-11-30 19:33] mikedevita commented on #56
i don't think its possible with chart.js i ended up moving to highcharts

[2015-11-30 19:33] #56 closed

[2015-12-02 20:53] djkashtan opened #63 "Adding a legend?"
Can you update the examples with a legend for at least one of them? I am stumped and I found one example on google but I could not get it to work...

The one example that I did find was this one: https://github.com/jhudson8/react-chartjs/issues/19 but I could not get the line: "var legend = this.refs.chart.getChart().generateLegend();" to work, getChart was undefined :(

[2015-12-02 21:27] djkashtan commented on #63
Huh, so if I follow the example from resolved issue #19 better I can get it to work, but I just get white dots for the legend. At this point maybe it is just a chartjs problem. Please delete this issue or mark it as resolved.

[2015-12-02 23:00] Vnkitaev opened #64 "PieChart.getDOMNode(...) is deprecated. Please use ReactDOM.findDOMNode(instance) instead."

[2015-12-04 16:10] #63 closed

[2015-12-05 17:10] joshhornby commented on #51
Feel free to submit a PR for this.

[2015-12-05 17:17] joshhornby commented on #64
Please submit a PR and I will merge.

[2015-12-05 17:19] joshhornby commented on #57
Please see this https://github.com/kirjs/react-highcharts/issues/12#issuecomment-122085876. Although its for Highcharts the same logic applies.

[2015-12-05 17:19] #57 closed

[2015-12-05 17:20] #43 closed

[2015-12-05 17:24] #37 closed

[2015-12-05 17:25] joshhornby commented on #50
Closing due to inactivity.

[2015-12-05 17:25] #50 closed

[2015-12-05 17:26] joshhornby commented on #35
Any update to this? seems a common issue.

[2015-12-05 17:27] #36 closed

[2015-12-05 17:27] joshhornby commented on #38
Welcome PRs on this issue.

[2015-12-05 17:28] joshhornby commented on #39
Is this still an issue? Seems like a webpack issue more than react-chartjs.

[2015-12-11 04:13] usergit commented on #35
oh man I wish I saw this thread earlier, any updates

[2015-12-14 13:10] kasperfilstrup commented on #64
Hi @joshhornby . I saw you accepted the pull request with the fix for this, but it isn't present when `npm install react-chartjs`. Any idea when this will get pushed to npm? (or any tips to how I can get it with npm until it is "published"?) :-)

[2015-12-14 15:39] slavovojacek commented on #64
@kasperwf :+1:

[2015-12-14 15:41] joshhornby commented on #64
@kasperwf https://docs.npmjs.com/files/package.json#repository Should do the trick.

@jhudson8 Can you update the npm version please?

[2015-12-14 18:26] kasperfilstrup commented on #64
Great @joshhornby - thanks a lot! :-D

It turns out it's as simple as changing
`"react-chartjs": "^0.6.0"`
to
`"react-chartjs": "jhudson8/react-chartjs",`
in package.json

[GitHub urls](https://docs.npmjs.com/files/package.json#github-urls)

[2015-12-15 21:30] johnnyfreeman opened #65 "Global chart configuration"
In chart.js, you can set [global chart configuration](http://www.chartjs.org/docs/#getting-started-global-chart-configuration). How can you do this using `react-chartjs` and browserify?

[2015-12-15 23:36] pkibbey commented on #64
It looks like the PR was merged, but the files in dist were not rebuilt, so I'm still getting the same getDOMNode error.

[2015-12-16 10:03] sebprunier opened #66 "Latest version not available on npmjs.com"
Hi,

The latest version (v0.7.3) is not available on npmjs.com.
Can you upload it please ?

Thx !
Sébastien

[2015-12-17 17:33] kojuka commented on #66
same thing here --
npm ERR! No compatible version found: react-chartjs@^0.7.3
npm ERR! Valid install targets:
npm ERR! 0.6.0, 0.5.0, 0.4.0, 0.3.0, 0.2.1, 0.2.0, 0.1.3, 0.1.2, 0.1.1, 0.1.0, 0.0.1

[2015-12-19 19:19] YPCrumble commented on #66
:+1:

[2015-12-21 15:19] MattWilliamsDev commented on #66
:+1:

[2015-12-21 15:20] MattWilliamsDev commented on #66
Attempting to get the latest version via NPM to address issue #33.  Will download manually for now, but update is appreciated!

[2015-12-21 20:47] underwater commented on #64
It appears that the dist folder is 9 months old still, is it possible to do that so as to get rid of the various errors I am getting on my dashboard source
- Warning: DoughnutChart.getDOMNode(...) is deprecated. Please use ReactDOM.findDOMNode(instance) instead.
  If anyone knows how I can do this myself, any guidance is greatly appreciated

[2015-12-21 21:47] pkibbey commented on #64
I'll run the build and dist commands (npm run build, npm run dist) then submit a new pull request... give me a few minutes...

[2015-12-21 22:19] pkibbey commented on #64
I'm having network issues, so I can't install the required packages...

Try this
1. clone repo
2. run "npm install" in the directory
3. run "npm run dist"
4. Submit pull request.

that 'should' work.... hopefully.

[2015-12-21 22:45] underwater commented on #64
Hi there, thanks for your quick response,
Tried that my side, and getting this
8 info react-chartjs@0.7.3 Failed to exec dist script
9 error react-chartjs@0.7.3 dist: `COMPRESS=1 webpack index.js dist/react-chartjs.min.js`
9 error Exit status 1
10 error Failed at the react-chartjs@0.7.3 dist script.

[2015-12-21 22:49] pkibbey commented on #64
I finally managed to get this running locally, and have submitted a pull request ^^

[2015-12-22 09:05] joevin22 commented on #66
you can to try rc-chartjs,
no warning with react 0.14.x + es6

[2015-12-24 00:45] rowinf commented on #35
This should get you up and running

https://gist.github.com/rowinf/583fcbafe28d24eae323

[2015-12-30 11:04] Joran182to opened #69 "Excanvas polyfill workflow"
Hi, I liked chart.js lib and wanted to use it in my React-based app, but I need to support IE8. So, I decided to use excanvas polyfill. It's not a problem to use it with chart.js itself, so it working like this in my app:
Rendering empty canvas:
[code]
And then initializing excanvas (which is loaded only in IE8 by conditional tags) and rendering chart into empty canvas:
[code]
But chart components

[2015-12-31 11:04] kai23 commented on #65
+1 ?

[2016-01-04 22:00] teone commented on #64
Looks like it is not available yet on NPM, but works if I set `"react-chartjs": "jhudson8/react-chartjs"` in `package.json`

I just don't feel safe not locking the version.

[2016-01-08 14:16] TheLudd opened #70 "Publish latest to npm?"
I noticed that latest tag here is `0.7.3` but the latest published version on npm is `0.6.0`. How come? Can newer versions be published?

[2016-01-11 10:21] TheLudd commented on #70
Noticed this is a duplicate of #66

[2016-01-11 10:21] #70 closed

[2016-01-13 07:29] srinath-v opened #71 "Does react-chartjs play well with chartjs 2.0.0 beta?"
Or is it such that react-chartjs is chartjs version agnostic?
 Don't suppose that's the case but what do I know.

[2016-01-13 16:28] austinpray commented on #71
Try it out and let us know

[2016-01-14 06:04] vsrnth commented on #71
Sure thing.

[2016-01-14 17:55] austinpray commented on #71
Thanks!

[2016-01-15 19:17] palmerj3 commented on #65
You could define a singleton export with the default options then myOptions = Object.assign({}, mySingleton, { override1: foo, override2: bar});

[2016-01-15 19:24] palmerj3 opened #72 "legendTemplate and tooltipTemplate not working?"
I've tried utilizing the legendTemplate chart option and the tooltipTemplate chart option but neither seem to be working for me.

I've even tried modifying the example code to utilize non-existent variables and I see no errors in the console so it appears these options are being ignored?

I've tried this for a line chart and a bar chart.

[2016-01-18 17:51] pjho commented on #72
[This issue](https://github.com/jhudson8/react-chartjs/issues/19) helps with getting a legend to show.

[2016-01-19 16:41] lchngr commented on #64
Can you please push the new version to the npm repo. Thx

[2016-01-19 18:59] jakemhiller commented on #66
This hasn't been published to NPM in 10 months...

[2016-01-19 19:24] kunalsynerzip commented on #32
+1
Me too can't render the legend for the Pie Chart. Is it possible to have a working example for how to use this?

[2016-01-19 20:29] austinpray commented on #66
I just shot Joe an email asking him to add me as a collab to the npm package. I can just set travis to publish on tag so it won't be an issue going forward.

[2016-01-21 20:52] CurtisHumphrey opened #73 "changing a charts width height dynamically does not seem to change anything"
For example lets have a chart like this:
[code]

If I change the width later the line chart does not redraw a new canvas with a new width

[2016-01-22 01:32] matheusrocha89 commented on #66
:+1: please update

[2016-01-22 14:03] andersonba commented on #66
+1

[2016-01-22 23:56] austinpray commented on #66
No email from Joe yet

[2016-01-23 21:16] patrickkempff commented on #64
It looks like the current version (0.7.3) is not yet published on npm.
@jhudson8 It is possible to push it? thanks.

[2016-01-23 21:52] patrickkempff commented on #66
+1

[2016-01-24 13:21] jhudson8 commented on #66
@austinpray adding you now.  Thanks for helping out.

[2016-01-26 16:36] austinpray commented on #64
@patrickkempff I just published the latest version, lemme know if this fixes it

[2016-01-27 14:23] sebprunier commented on #66
Seems Ok now !! Latest version available is 0.7.3
Thx

[2016-01-27 14:23] #66 closed

[2016-01-27 20:49] austinpray commented on #66
Joe added me, will get travis automatic deploys up soon

[2016-01-27 20:50] jhudson8 commented on #66
@austinpray I owe you a beer.  thanks for helping out

[2016-01-28 08:17] suancarloj commented on #64
@austinpray 0.7.3 works for me :) thx

[2016-01-28 13:51] #64 closed

[2016-01-29 03:04] darkone23 commented on #71
Tried with react-chartjs 0.7.3 - the answer is no - code that works with current version of react-chartjs does not work with chart.js 2.0 beta, looks like there were some breaking changes in the underlying library.

[2016-02-02 13:15] theo07 opened #74 "Uncaught TypeError: chart is undefined (Firefox) / Cannot read property 'name' of undefined (Chrome)"
I am generating a number of charts by listening to an event. Every event fired will generate or remove one chart.

Everything works fine but I see this Uncaught TypeError in the console:  chart is undefined (Firefox)  / Cannot read property 'name' of undefined (Chrome).

`module.exports.createClass.classData.componentWillReceiveProps
`

If I add a null check in the library the type error seems to

[2016-02-03 23:16] lemonCMS opened #75 "DoughnutWithTextInside"
Hi,

I have created the DoughnutWithTextInside this will set centered text within the doughnut.
Right now it set a percentage, this is what i needed for my project.

Perhaps you would find this interesting into implementing something like this into your package.
You can tak a look at https://github.com/lemonCMS/react-chartjs

Kind Regards,
Raymond

[2016-02-04 22:49] matrinox opened #76 "Versioning?"
Is it possible to version the decencies so this package can be used in React 13? Right now any version of react-chartjs, including versions before React 14 was even announced, require React 14.x due to react-dom requiring React 14.x

[2016-02-05 01:18] austinpray commented on #76
Here is the break: https://github.com/jhudson8/react-chartjs/commit/29297915b3aa92702b982b7dfdf2103e9390a9cf

Use 0.6, I suppose. I'm open to bug fixes being backported to 0.6.x if you PR: https://github.com/jhudson8/react-chartjs/tree/0.6

[2016-02-05 11:11] theo07 opened #78 "Warning: PieChart.getDOMNode(...) is deprecated. Please use ReactDOM.findDOMNode(instance) instead."
Also is this issue been fixed?

I am using    "react-chartjs": "https://github.com/jhudson8/react-chartjs/archive/0.7.3.tar.gz".

Many thanks,
Teo

[2016-02-06 15:19] RamonBeast opened #79 "Combining two graph types"
Since chart-js 2 is not yet supported, with the current version of react-chartjs is there a way to combine two charts into the same plot? e.g.: a bar and a line.

[2016-02-08 13:47] #78 closed

[2016-02-08 20:59] lauffenp opened #80 "Update() does not work with Radar Chart"
I am passing in data in the render() portion of my react component to a radarchart
[code]

When the component re-renders, I get the following error:
Uncaught TypeError: Cannot read property 'length' of undefined

originating from this codeline:
[code]

If I change my radar chart to a bar chart it works just fine. Is there something I'm missing here?

Thanks!

[2016-02-09 22:36] Malachi-M commented on #75
Hey great branch! One of the issues I ran into when implementing the DoughnutWithTextInside was that the fontSize is calculated by a [hard coded factor](https://github.com/lemonCMS/react-chartjs/blob/master/lib/core.js#L75). It would be great if the fontSize could be exposed in the options object.

[2016-02-17 17:53] gkrinc opened #81 "Updating labels should update tooltips"
When I change the data in the <LineChart /> it renders and shows the updated data but the tooltip labels are wrong...they're always showing the first x-axis label: http://stackoverflow.com/questions/35447775/why-are-the-chartjs-tooltip-labels-always-showing-the-first-x-axis-label

Setting redraw to true <LineChart redraw={true} /> resolves the issue, but this seems like a weird approach.

[2016-02-18 12:26] Leeh91 opened #82 "Save chart as image"
Can I save the graph as image in my server side?

Att.

[2016-02-19 10:45] RamonBeast commented on #72
Trying that example now returns:

`Uncaught Invariant Violation: Can only set one of`children`or`props.dangerouslySetInnerHTML`.`

Is there any other way to get the legend to show?

[2016-02-21 22:09] jxm262 commented on #51
@joshhornby  I have a bit of free time today.  Will try to submit a PR soon

[2016-02-26 21:56] anilasj commented on #79
Yes I'm interested in this as well. We're looking to combine the line and bar chart together.

[2016-02-26 23:36] blizzo521 commented on #80
+1 on this, I am having the same problem.  Radar chart is the whole reason i'm using this library so if I can't get it to work I will have to replace it :(

[2016-03-01 09:10] maindi commented on #71
This would be nice, since 2.0.0 supports multiple y-axis

[2016-03-04 01:04] ttyao opened #84 "What's the plan to upgrade to chart.js 2.0?"

[2016-03-07 16:33] RamonBeast commented on #84
+1

[2016-03-07 18:40] derwydd opened #85 "Using with a Rails app?"
Is it possible to use this with a Rails app? We installed react-rails gem, and I am trying to make this work. I am not especially wanting to install and setup webpack. What do you suggest? Thanks

[2016-03-08 00:38] flgarrid commented on #84
+1

[2016-03-11 12:58] austinpray commented on #85
Should be able to use the files in the dist folder easy enough.

I would say this is a better question for stackoverflow than the issue tracker here.

[2016-03-11 12:58] #85 closed

[2016-03-14 11:00] jbmeslin commented on #84
Every body can start a new branch

[2016-03-15 08:15] pardhaponugoti commented on #80
I passed in redraw as a prop and it fixed the issue for me.  It scraps the old chart and makes a whole new one every time though.  For example, your code would look like this:

`<div className = "container-fluid">
     <RadarChart data={results}  redraw options={chartOptions}  width="600" height="250"/>
 </div>`

I saw it at the bottom of this page:

https://github.com/jhudson8/react-chartjs

[2016-03-15 17:18] phil-lauffenburger commented on #80
Yeah, that works for me as well. I just don't like how redrawing the chart looks.

[2016-03-16 15:15] ekarni opened #86 "Cannot find module 'chartjs' from"
I'd like to apologize in advance for my lack of knowledge about the issue!

I'm attempting to create chart, and installed react-chartjs, React & Chart.js but I'm still getting an error that it's missing the chart.js file or something after I run gulp.

Error I get:
`Browserify Error { [Error: Cannot find module 'chartjs' from '/home/ekarni/Documents/ReactChartTest/node_modules/react-chartjs/lib']`

[2016-03-17 18:50] ekarni commented on #86
Deleted modules folder and ran npm install again fixed the issue.

[2016-03-17 18:50] #86 closed

[2016-03-17 19:29] checkhavoc commented on #75
Hi @lemonCMS,

I need a Doughnut chart with text inside as well, but instead of creating an additional fork or pull request, do you think you can submit your changes as a pull request with the fontSize that @Malachi-M mentioned?

Hopefully then, the pull request can be approved afterwards :)

[2016-03-18 19:17] dougmolineux commented on #72
`dangerouslySetInnerHTML` is the only way to achieve this?

[2016-03-18 19:51] dougmolineux commented on #72
Just wanted to add this, I was able to modify the Tooltip by using this:

[code]

[2016-03-22 22:24] rossPatton commented on #80
adding to this. `redraw` fixes the issue for me as well, but it shouldn't really be needed

[2016-03-23 16:54] RamonBeast commented on #84
~~yep I guess this repo is dead~~

[2016-03-23 19:22] cryptic-mystic commented on #80
Hey guys, I was having an issue with my doughnut charts updating (which shares code with radar and circle charts). Old data points would not be removed when the new dataset was of a smaller length than the previous. I've made a PR under #88, if you think it might help your problems we can make an effort to get it merged.

[2016-03-24 17:57] Malachi-M commented on #75
Hello @checkhavoc,
I have created a pull request with the added `labelScale` option. It is available [here](https://github.com/jhudson8/react-chartjs/pull/89).
I hope it helps!
Malachi

[2016-03-26 05:28] MatthewHerbst opened #90 "Active?"
@joshhornby @jhudson8 is this repo active? There are multiple PRs and issues with no replies for some time. I and others would love to contribute but not if it's not going to go anywhere.

[2016-03-27 16:26] joshhornby commented on #90
Hi @MatthewHerbst

I'm afraid I don't use this package in production anymore so don't have the time to commit to the project. You can message @jhudson8 and sure he'd add you as a maintainer.

[2016-03-27 20:58] austinpray commented on #84
Got a PR here: https://github.com/jhudson8/react-chartjs/pull/87

Take the initiative and help test this PR out so we can get it merged.

[2016-03-27 21:02] austinpray commented on #82
This issue tracker is more for bugs rather than support requests. Recommend asking stackoverflow or something.

[2016-03-27 21:02] #82 closed

[2016-03-27 21:10] austinpray commented on #80
Can you guys check if https://github.com/jhudson8/react-chartjs/pull/88 fixed your issue?

[2016-03-27 21:14] austinpray commented on #90
@MatthewHerbst I'll commit to not letting your PRs sit in limbo :).

A good place to start would be to help getting this PR in: https://github.com/jhudson8/react-chartjs/pull/87

[2016-03-27 21:14] #90 closed

[2016-03-27 21:17] austinpray commented on #84
Here's the plan:
1. Create a branch to consolidate V2 development (https://github.com/jhudson8/react-chartjs/tree/chartjs-v2)
2. Release current master as 1.0.0. 1.0.0 will accept backports of bug fixes and perhaps react version compatibility updates.
3. Release 2.0.0 and onward as chartjs v2 compatible.

[2016-03-27 21:22] #76 closed

[2016-03-27 21:23] austinpray commented on #79
I would make suggestions on https://github.com/jhudson8/react-chartjs/pull/87 to see if this feature can be added.

[2016-03-27 21:25] #34 closed

[2016-03-27 21:25] #39 closed

[2016-03-27 21:26] austinpray commented on #51
this is fixed

[2016-03-27 21:26] #51 closed

[2016-03-27 21:27] austinpray commented on #69
Will accept PRs for this.

[2016-03-27 21:27] #69 closed

[2016-03-27 21:28] austinpray commented on #65
what @palmerj3 said

[2016-03-27 21:28] #65 closed

[2016-03-27 21:28] austinpray commented on #71
https://github.com/jhudson8/react-chartjs/pull/87

[2016-03-27 21:28] #71 closed

[2016-03-27 21:31] austinpray commented on #74
Can you post the code that you changed to mitigate this error? Odds are this needs to be a PR.

[2016-03-27 21:31] #74 closed

[2016-03-29 01:52] phil-lauffenburger commented on #80
Ok, so #88 does not fix the issue. #88 just applies to Polar/Pie/Doughnut Charts. However, chart.removeData() seemed promising.   I mucked around with it a bit and removed the while loop just below the change in #88.

`} else {
       chart.removeData();
    nextProps.data.datasets.forEach(function(set, setIndex) {`

This of course causes some other errors but I just added a few extra if statement

[2016-03-29 14:04] cryptic-mystic commented on #80
@lauffenp Yeah my commit only related to those charts you mentioned. I noticed that some of my charts have been updating slowly with my fix, so if you're able to remove the data without a loop that'll probably give us a speed boost.

[2016-03-31 09:49] donnrri opened #93 "Cannot read property 'Chart' of undefined"
Hi,

I cannot find many details as to why I am getting an error when trying to render a chart using react-chartjs. I'm using react v0.13 and webpack.
 I use the following code :

var LineChart = require("react-chartjs").Line;
var React = require('react');

var LChart = React.createClass({

  propTypes: {
    data: React.PropTypes.object
  },
  render: function() {

    return <LineChart data={this

[2016-03-31 17:51] phil-lauffenburger commented on #80
#92 should fix this.

[2016-04-01 02:33] danmolitor commented on #93
Did you specifically run "npm install chart.js" in your terminal when you installed react-chartjs?

[2016-04-01 04:29] phil-lauffenburger commented on #80
fixed by #92

[2016-04-01 04:29] #80 closed

[2016-04-02 15:44] sashamjolnir opened #95 "Gradient fill in LineChart"
How can i do [gradient in LineChart like this](http://jsfiddle.net/4vobe59a/) using react-chartjs? As I think, I need to reach DOM element canvas, add gradient, then pass it in data object (datasets => fillColor). But how can I do this in using react-chartjs. I tried wait when componentDidMount, then get element through ref, add gradient, change State. But it didn't work. I think it must be more _

[2016-04-02 16:43] mnsrv commented on #95
This code in pure Chart.js works.

[code]

[2016-04-05 08:07] Qquanwei commented on #93
I installed the chart.js, but the problems still exist

[2016-04-06 02:09] mitchmalone opened #96 "Bar charts not displaying negative values correctly"
Negative values don't display correctly in bar charts.

![bar-chart-broken-negative](https://cloud.githubusercontent.com/assets/532643/14303781/69d2e988-fbf0-11e5-8c27-550118012841.png)

[2016-04-06 03:29] leighghunt commented on #96
Likely underlying cause: https://github.com/nnnick/Chart.js/issues/9 and I guess dependent on https://github.com/jhudson8/react-chartjs/issues/84?

[2016-04-06 17:04] austinpray commented on #96
See if the issue is fixed with https://github.com/jhudson8/react-chartjs/tree/chartjs-v2

[2016-04-06 17:06] austinpray commented on #84
The faster you guys test https://github.com/jhudson8/react-chartjs/tree/chartjs-v2 the faster this can get consolidated into a 2.0 release

[2016-04-07 00:18] nvarchar opened #97 "Chart height creeps up as window is resized"
I've got `<ChartJS.Line data={data} options={options} height={100} />` with `responsive: true, maintainAspectRatio: false` and though the chart renders fine and resizes with the window, as the window is resized, the height of the chart creeps higher and higher. If I resize the window back and forth in place, the chart eventually grows to the height of the screen.

[2016-04-08 22:43] hydrotik commented on #93
The problem is when you install the npm module that lib/core.js ```javascript var Chart = require('chart.js');```. it should be pointing to ```javascript var Chart = require('chartjs');```

[2016-04-08 22:51] hydrotik commented on #93
Make sure you install `npm install chart.js --save` not `npm install chartjs --save` I did that myself and got that error, realizing the package was wrong when trying to manually adjust it in the module.

[2016-04-09 12:38] MathiasLund commented on #81
+1

[2016-04-10 09:43] leighghunt opened #100 "Having trouble incorporating into project"
Hi,

I'm having trouble getting this working in my project, and I'm hoping I'm missing something obvious.

When I include the ````dist```` folder in my React/Reduc project, and open a view that includes some simple example code,  I'm getting the following error within the react-chart.js file on the browser:

**react-chartjs.js:143 Uncaught TypeError: Chart is not a constructor**

Code in question,

[2016-04-10 21:37] leighghunt commented on #100
If I butcher the react-chart.js file with some diagnostics, I notice that `__WEBPACK_EXTERNAL_MODULE_5__` is getting passed in as the value `3` - I must be doing something wrong with my includes - I'll carry on investigating and update here.

[code]

[code]

[2016-04-10 22:42] leighghunt commented on #100
OK, so found seemingly related issue over in angular-chart.js, whereby they tweaked the require calls to work around a requirejs issue - see https://github.com/jtblin/angular-chart.js/issues/194.

I made the following change and the chart is now appearing. I'll carry on investigating - not sure if this is a workaround masking some underlying issue in my code.

[code]

[2016-04-11 00:02] leighghunt commented on #100
I've confirmed that the following change resolves the issue for me:

https://github.com/venari/react-chartjs/commit/f0639fa70fa874a571e2bc6b66967f8ce856d6b5

Still not 100% sure this isn't a problem with my code, so I won't submit a PR now - but would be interested to hear if others experience this issue - judging by lack of people reporting it, I'm suspecting it's just me.

[2016-04-11 15:00] RamonBeast commented on #97
Hi,
I have noticed this behaviour too and it's quite annoying, for the time being I "solved" it by setting in _options:_

`responsive: false,
 maintainAspectRatio: true`

It doesn't really solve the issue, but at least it's better than having the chart change its size for every window resize.

[2016-04-11 15:15] RamonBeast commented on #84
I'd be very happy to help. I'm trying to integrate it into my project and so far I get:

`core.js:63Uncaught TypeError: (intermediate value)[chartType] is not a function`

I guess I'm using it wrong: I cloned the v2 repo and temporarily replaced it in my node_modules directory, chart.js is updated to version 2.0.0. Can you please point me to what I'm doing wrong so I can make all required tests?

[2016-04-11 15:58] gor181 commented on #100
Same here, same error.

[2016-04-11 17:29] paulkarpenko commented on #97
@jhudson8 Can you provide any insight here? Thanks.

[2016-04-12 01:27] leighghunt commented on #100
Unfortunately, my workaround doesn't appear to work in the chartjs-v2 branch. :disappointed:

[2016-04-13 09:44] sercaninaler opened #102 "Upgrade to chart.js 2.0"
When can we have support for Chart.js 2.0?
since this morning I start getting the error below with latest package updates:

`core.js:60 Uncaught TypeError: [chartType] is not a function` at
` var chart = new Chart(ctx)[chartType](nextProps.data, nextProps.options || {});`

thank you so much!

[2016-04-13 10:23] dhruv004 opened #103 "core.js:60 Uncaught TypeError: (intermediate value)[chartType] is not a function"
Hi I am trying to implement this in my project.I am new to chartjs as well.
I get the following error.

`core.js:60 Uncaught TypeError: (intermediate value)[chartType] is not a function`
`core.js:46 Uncaught TypeError: Cannot read property 'name' of undefined`

I don't know what is causing this.Does this have anything to do with the versions.Any help would be good.

[2016-04-13 10:26] dhruv004 commented on #103
Its a version Issue sorry.

[2016-04-13 10:26] #103 closed

[2016-04-14 04:38] leighghunt commented on #84
@RamonBeast I think someone else encountered the same issue - see #102.

Interested to see resolution to this myself.

[2016-04-14 04:39] leighghunt commented on #102
Hi @sercaninaler - see #84 too for similar issue. And perhaps not entirely unrelated to #100 that I'm experiencing myself, still with v2.

[2016-04-14 06:45] sercaninaler commented on #84
+1

[2016-04-14 06:46] sinaler commented on #102
Hi and sorry for duplicate issue. closing and following over there.

[2016-04-14 06:46] #102 closed

[2016-04-14 14:42] austinpray commented on #100
Are you trying to use Chartjs v2 with the current release of react-chartjs? The master only works with v1 right now.

[2016-04-14 14:43] gor181 commented on #100
Hey @austinpray ,

I apologise I realized that chartJs v1 is required for this to work :)
I think we should add this to readme?

Cheers,

[2016-04-14 14:44] austinpray commented on #100
@gor181 shoot a PR over!

This should fix it as well: https://github.com/jhudson8/react-chartjs/pull/104

[2016-04-14 20:07] PolGuixe commented on #100
Similar error here:

[code]

Can we get this PR: https://github.com/venari/react-chartjs/commit/f0639fa70fa874a571e2bc6b66967f8ce856d6b5 in AS SOON AS POSSIBLE. :)

[2016-04-14 23:35] austinpray commented on #100
@polguixe read the error message. It's telling you exactly what's going on.

Install chartjs 1.x

[2016-04-15 01:40] leighghunt commented on #100
`
Are you trying to use Chartjs v2 with the current release of react-chartjs? The master only works with v1 right now.
`

Hi @austinpray, my intention has been to be matching the two versions - I've been trying the following combinations - see my `package.json` file:

Version 1 (encountering this issue):

[code]

And then my fork, which resolved this issue for me:

[code]

Version 2 (encountering

[2016-04-15 01:42] leighghunt commented on #100
Another thing - we're starting to think this may be to do with the fact we're using Dojo to load libraries - anyone else whose experiencing this issue, are you using Dojo?

[2016-04-15 13:09] merlinpatt opened #107 "React.createElement: type should not be null, undefined, boolean, or number"
I set the height / width of my chart depending on where I'm placing (full page, sidebar, etc).

[code]

This throws an error unfortunately complaining that height expects a string.

Edit to add error
[code]

What's a way around this?

[2016-04-15 23:26] ianks commented on #84
I noticed that when I upgraded, the fillColor for a line was no longer honored. It is just a default grey. Any insights on this? I can't seem to find and deprecations in the Chart.js upgrade notes.

[2016-04-16 03:59] ianks commented on #84
Another issue, the `label` in the `datasets` key does not update in the canvas when it is changed.

EDIT: What I mean by label can be shown in the Line chart. The switches at the top (I suppose they are called legends?), do not correlate with the current label.

![Imgur](http://i.imgur.com/VLlzKKP.png?2)

[2016-04-18 12:47] ayozebarrera commented on #103
@dhruv004 how you resolve this? I'm having the same issue

[2016-04-19 04:41] dhruv004 commented on #103
@ayozebarrera the latest chartjs version is 2.0 and react-chartjs is not yet compatible with it.Just install   a previous version of chartjs for now.

[2016-04-19 09:26] ayozebarrera commented on #103
I see, thankyou! I'll try

[2016-04-19 09:28] ayozebarrera commented on #103
Maybe @jhudson8 should put it on README...

[code]

[2016-04-19 10:42] sunnybogawat opened #108 "How to write the custom label inside donuts chart"
I am using the implementation in reactJs component and I am not understanding how I can write the custom label inside donuts chart. I am not able to found any hint for this. Could you please lets us know how to set the custom label.

[2016-04-19 16:16] RamonBeast commented on #84
@ianks did everything work out of the box after the upgrade? Because I'm still having the same issue as past week. Can I ask you how you've made it work?

[2016-04-19 16:21] ianks commented on #84
@RamonBeast Things worked, but there were also the issues that I described above. Did you make sure to update ChartJS to 2.0.0?

[2016-04-19 16:27] ianks commented on #84
re: my comment in about the label; It seems the label option in the Object in the `datasets` array is not being updated despite new props being passed in.

[2016-04-19 18:12] ianks commented on #84
I made a PR which addresses some of the issues experiencing: #109

However, many of the options from chart.js v1 are different from v2. It took me a little bit to realize the documentation is now located at a new place: http://nnnick.github.io/Chart.js/docs-v2/

Use the new documentation to help transition.

[2016-04-22 05:38] sunnybogawat commented on #75
How to use this feature along with reactJS component. This is not listed in the readme file. Could you please lets us know how I can set dynamic text inside doughnut graph

[2016-04-24 21:41] zenonn37 commented on #75
1+

[2016-04-28 10:00] modomodo opened #111 "Nothing Rendering on Web Page"
Hi!

First of all I really love this library's idea of combining ChartJS with React. However, I'm having trouble getting a simple Chart Component going. The problem is that nothing shows up on a web page, there are no errors related to the input of data into the component or any react errors, it simply doesn't show up. What exactly could I be missing? Is this an issue with the new React?

I'm curr

[2016-04-28 10:53] sunnybogawat commented on #108
any update on this?

[2016-04-28 14:28] SylarRuby opened #112 "intermediate value)[chartType] is not a function"
What am I doing wrong, guys?

[code]

Only to get:

Which is at:

[code]

[2016-04-28 16:21] dougmolineux commented on #84
Hi guys, I appreciate all the help here.

Firstly, after transitioning from Charts.js 1.x, I am getting an error that looks like this:
`TypeError: Cannot read property 'datasets' of undefined`
I have upgraded charts.js and I am using the `chartjs-v2` branch of this repo. It looks like the URL that @ianks mentioned there isn't working unfortunately.

Not quite sure if what the problem is, but eithe

[2016-04-28 16:23] ianks commented on #84
@dougmolineux The new docs reflect 2.0

http://www.chartjs.org/docs/

[2016-04-28 17:55] dougmolineux commented on #111
I think instead of `dataSet` it should be `datasets` inside your `data` object in app.jsx.

[2016-04-28 21:54] dougmolineux commented on #112
I think that you're `chartType` variable there might be defined incorrectly.

I suggest you change it to look something like this:

[code]

EDIT / UDPATE: Sorry I took a look at the original source code I think you need to do:

[code]

or this

[code]

[2016-04-28 21:58] dougmolineux commented on #108
You'll need to use the chart options object:

http://www.chartjs.org/docs/#doughnut-pie-chart-chart-options

[2016-04-28 22:20] gor181 commented on #84
What's the status of v2? Please let me know where the help is required so I can jump in.
cheers.

[2016-04-28 22:29] ianks commented on #84
@gor181 please checkout #109 and test it, you can reference it in your package.json like so:

[code]

[2016-04-29 03:54] sunnybogawat commented on #108
Thanks for the reply. I saw this options  before but I am using react-chartjs component and haven't found any configuration for showing data in the center of the donuts chart specific to component. I am getting the canvas object from DOM do you know is there any way to show data in the center using this object.

[2016-04-29 05:38] modomodo commented on #111
@dougmolineux Thanks alot!! That was what I was missing! :+1:

[2016-04-29 05:40] #111 closed

[2016-04-29 05:45] SylarRuby commented on #112
@dougmolineux Not sure I follow. I can't change anything as that's the npm's code.

Documentation is very poor with this module. I've installed `chart.js` module but not required it. If I required it, same problem. This alone should just work:

[code]

[2016-04-29 06:01] yaoquan commented on #112
I faced a similar issue with chart.js@2.0.0. Downgraded to chart.js@^1.1.1 and the things worked according to instructions.

[2016-04-29 07:45] SylarRuby commented on #112
Guess I'll use [rd3](https://github.com/esbullington/react-d3) instead

[2016-04-29 14:57] dougmolineux commented on #112
@SylarRuby it looks like the example usage in the Readme is:

[code]

Sorry I'm not familiar with the "LineChart.Line" chart type in your example code there:

`return <LineChart.Line data={chartData} width="600" height="250"/>`

[2016-04-29 14:59] SylarRuby commented on #112
@dougmolineux I know that way but it's the same issue I'm having.

[2016-04-29 23:51] macrozone opened #113 "v2: updating borderWidth or pointStyle does not redraw"
Hi guys,

I have a line chart with

`<LineChart data={chartData} options={chartOptions} width="1000" height="600" redraw />`

When I change the borderWidth in chartData (in a dataset), the chart isn't redrawn. Even with redraw-option this has no effect.

[2016-04-30 09:45] JamieDixon commented on #93
I'm receiving this same error `Uncaught TypeError: Cannot read property 'Chart' of undefined` with chart.js@^1.1.1 installed. Any ideas?

[2016-05-03 14:59] AustinMCrane opened #114 "Chart.js 2.0.2 issues"
I noticed the recommended chart.js version is 1.1.1 but this library is not compatible with 2.0.2.

here is a reference of some of the errors i get when using 2.0.2:

**stack overflow**
http://stackoverflow.com/questions/36528660/react-chartjs-gives-back-a-type-error-intermediate-valuecharttype-is-not-a

**my stack trace**
![screen shot 2016-05-03 at 9 57 10 am](https://cloud.githubusercontent.com

[2016-05-03 15:21] dougmolineux commented on #114
Hi there @AustinMCrane have you been using the newer v2 branch?

[code]

[2016-05-03 18:03] MatthewHerbst commented on #112
+1 to this after upgrading chartjs to 2.0

[2016-05-03 18:48] MatthewHerbst commented on #112
@dougmolineux suggested fix in https://github.com/jhudson8/react-chartjs/issues/114 allows the package to work again for me:

In your package.json:

[2016-05-03 19:25] SylarRuby commented on #112
Actually, you don't need this module. I don't see the need. The chart.js npm or the CDN on it's own just work fine so I'm no longer using this module.

[2016-05-03 20:50] dougmolineux commented on #112
Please close the issue @SylarRuby :)

[2016-05-03 20:52] #112 closed

[2016-05-03 22:45] MatthewHerbst commented on #112
@SylarRuby doesn't this module provide animation and redraw capabilities in the React way? Technically using just Chartjs will drop you out of React, which could be undesirable

[2016-05-04 05:50] SylarRuby commented on #112
@MatthewHerbst I have not used "redraw" as of yet but I am sure it works as is. All I need is to display a chart, that is it, nothing too technical. Nothing breaks in React for me. I may do a Medium post on this for you more experienced dev to compare with.

[2016-05-04 15:56] MatthewHerbst commented on #112
@SylarRuby I gave this more though, and I actually am starting to agree with you. Chartjs uses the canvas. Unlike SVG, changes to the canvas does not mean DOM changes. So, there isn't really a big need to worry about affects to React since your are keeping the DOM consistent.

[2016-05-04 17:19] SylarRuby commented on #112
@MatthewHerbst Yes. Wrap your `var myChart({...})` inside `componentDidMount()` then render `<canvas id="myChart" height="400" width="600"></canvas>` and that's it.

[2016-05-04 17:57] MatthewHerbst commented on #112
Yes, although I would recommend grabbing the element (to pass the chart) via a ref instead of directly searching for the id.

[2016-05-04 18:45] SylarRuby commented on #112
Ahhhh good one ;)

[2016-05-04 18:48] SylarRuby commented on #112
@MatthewHerbst Ahhhh good one ;) Made changes and works ;)

[2016-05-04 19:03] valmassoi commented on #114
I'm still getting the same error with react-chartjs.git#chartjs-v2 and "chart.js@^2.1.0"

[2016-05-04 21:52] MatthewHerbst commented on #112
This is how I do it for my wrapper LineChart classes. The redraw performance is noticeably better than `react-chartjs` when using many data points.

[code]

The `componentDidUpdate` functionality allows you to update, add, or remove any data from the dataset.

[2016-05-05 00:07] nrempel commented on #114
Take a look at https://github.com/jhudson8/react-chartjs/pull/109. Using the branch that is proposed for merge there is working for me in the interim.

[2016-05-10 11:02] jbarata commented on #93
same problem here

[2016-05-11 14:40] apaleslimghost commented on #51
Unless I'm missing something, [no, it's not](https://github.com/jhudson8/react-chartjs/blob/e090b90e2569e4a74f4c13228005db453b7cadea/package.json#L29-L33).

[2016-05-13 07:59] yeliex commented on #93
++
@jhudson8

[2016-05-15 16:24] ashwinurao commented on #97
Setting `display: block` to the canvas fixes this issue as well.

[2016-05-18 00:23] andrewcoelho commented on #95
@sashamjolnir, any luck getting gradient fills with react-chartjs?

[2016-05-19 22:07] kschrute commented on #79
Any updates on this?

[2016-05-20 17:04] maxkolyanov opened #115 "v2: support horizontalBar chart"
Chart.js supports horizontalBar charts as of lately, see:
http://jsfiddle.net/3xts05xu/

But it's impossible to pass `horizontalBar` type, because type gets lowercased on this line:
https://github.com/jhudson8/react-chartjs/blob/chartjs-v2/lib/core.js#L76

What is the purpose behind `.lowercase()`?
Wouldn't it be better to allow to pass any type and leave it up  to chart js to throw error?

[2016-05-22 00:39] yocontra commented on #35
Still an issue, not sure why this was closed

[2016-05-23 10:07] Statfine commented on #103
@ayozebarrera  i have change "chart.js": "^1.1.0", to 1.1.1; but has the same error!

[2016-05-23 17:08] lotar commented on #107
@merlinpatt http://www.w3schools.com/jsref/jsref_tostring_number.asp

[code]

:D

[2016-05-23 19:13] merlinstardust commented on #107
@lotar Thank you for the tip. I'll use that for now, but this would be great if it were part of the package. I'll hopefully be able to make a PR at some point. @jhudson8 would this be of interest to you to add to the package?

[2016-05-24 16:35] switmac opened #118 "Set Global Property to Responsive or Canvass Width to 100%"
Hello,

Is there anyway for me to set the canvass width to 100% to make it responsive?
Or how can I set the global property to responsive using ecma6 in React.

Here is my sample usage of the API.

[code]

[2016-05-25 15:37] merlinstardust commented on #107
@lotar @jhudson8 I've discovered my issue and changed the title and description to reflect it better. The issue was not with dynamic height / width. It was that I'm using ES2015 syntax to import this package and I had assumed the incorrect name to import.

If you want to use `DoughnutChart` or `BarChart`, etc, with ES2015, you need to `import {Doughnut as DoughnutChart, Bar as BarChart} from 'reac

[2016-05-25 15:38] #107 closed

[2016-06-01 20:13] yocontra commented on #95
Has anyone figured this out yet? 😔

[2016-06-02 07:48] mnsrv commented on #95
I solved this by using chartjs by itself, not this library

[2016-06-03 04:03] randichilyon commented on #19
i still don't understand how to add the legend to my chart.. can anyone explain further about this :(

[2016-06-06 20:09] nickstanish commented on #93
Same issue. Excluding node_modules from babel-loader fixed it.

[code]

[2016-06-11 14:40] artemT82 opened #119 "Stacked bar chart"
Hello. I was wondering how can I build a staked bar chart, so there would be no gaps between bars. I'm trying to use "stacked" property, but obviously I'm doing something wrong.
Here is a concerning part of my code: https://jsfiddle.net/7ehf5ynh/

That's what I get out of this:
![screenshot from 2016-06-11 17 35 02](https://cloud.githubusercontent.com/assets/17126360/15985569/d958c97e-2ffa-11e6-92

[2016-06-12 09:20] #119 closed

[2016-06-12 18:48] stevewillard commented on #84
Any news on a 2.0 release? I have been using the branch for awhile now, and it seems pretty stable.

[2016-06-15 06:59] ledsun commented on #16
I cannot read an example at:
https://gist.github.com/superchoob/08329444afe9c0f33afc

[2016-06-15 13:29] RezaRahmati commented on #84
@ianks is this repo still valid? I get an error in npm install, and when I tried to open this url I get Page Not Found Error
https://github.com/ianks/react-chartjs

[2016-06-15 15:37] stevewillard commented on #84
@RezaRahmati It got merged into the v2 branch here:

https://github.com/jhudson8/react-chartjs/tree/chartjs-v2

You should be able to `npm install jhudson8/react-chartjs#chartjs-v2`

[2016-06-15 15:46] RezaRahmati commented on #84
@stevewillard Thanks, it works now

[2016-06-15 17:27] heybenchen commented on #16
@ledsun I changed my username, try https://gist.github.com/heybenchen/08329444afe9c0f33afc

[2016-06-16 00:23] ledsun commented on #16
Thanks a lot @heybenchen

[2016-06-16 09:03] ledsun opened #120 "v2: support getElementAtEvent and getElementsAtEvent"
I want to get elements by click events.

I can get elements:
[code]

But I want like getBarsAtEvent at v1:
[code]

Please refer the [Prototype Methods](http://www.chartjs.org/docs/#advanced-usage-prototype-methods) section in the Chart.js document.

[2016-06-16 17:11] contra opened #121 "direct assignment to this.state?"
https://github.com/jhudson8/react-chartjs/blob/master/lib/core.js#L64

I'm having some issues where `this.state.chart` doesn't exist and is causing errors to be spewed all over, noticed this while checking things out. I don't think direct assignment of this.state is supported and might be why the issue is happening.

[2016-06-17 03:59] cadubentzen commented on #114
When will the v2 version be the official?

[2016-06-17 14:53] enten commented on #57
Related issue: chartjs/Chart.js#1328

**Below is an another fix for those who want to develop an isomorphic react app.**

In my `package.json`:

[code]

In my `webpack config` (used to generate the client side code):

[code]

And the `postinstall.js` script:

[code]

So when I install my app, the `postinstall.js` script will prepend the file `node_modules/chart.js/src/core/core.helpers.js` with th

[2016-06-19 13:55] BabOuDev commented on #93
+1

[2016-06-20 19:03] austinpray commented on #121
That should def be a setState, I don't see why it would be anything else

[2016-06-23 06:35] christchron opened #123 "Can't get the chart to render the new data"
I got a problem here. When i change the state, my program re-render and get the new data, but the data at the chart didn't change at all.

[2016-06-23 10:57] OddEssay commented on #115
I put a PR #122 that addresses this.

[2016-06-23 12:31] ghost commented on #115
@OddEssay
Great work 👍

[2016-06-24 21:19] rublev commented on #84
Do I have to install chart.js alongside the chartjs-v2 branch? If so, how do I install 2.0.0 of chartjs? I tried `npm i -D chartjs@2.0.0" but got:

[code]

EDIT: Nevermind, it's chart.js not chartjs. Somehow got it in my head that I couldn't allow periods in module names.

[2016-06-25 01:54] ledsun commented on #84
The `chartjs` is a other npm package.
Please try `npm i -D chart.js`

[2016-06-26 02:14] PatrickDuncan opened #124 "es6/jsx"
Hey I'm using v1.1.1 and having trouble using the properties in the documentation with es6 and jsx.

`var BarChart = require('react-chartjs').Bar;`
If I do horizontalBar or set the type in the component's prop I get an error and nothing happens respectively.

Also backgroundColor does nothing, I had to use fillColor which isn't in the docs for bar charts.

`import React, { Component } from 'react'

[2016-06-26 08:09] n3ssi3 opened #125 "How to use getBarsAtEvent?"
Hey

I am trying to add an onClick function for my Charts (f.e. BarChart).
How can I access functions from BarChart when using BarChart only as a component?

My current code snippet:
[code]

Obviously "this" in my onclick function is undefined, but there should be a way to access that, shouldn't it?

Thanks,
Vanessa

[2016-06-26 14:27] ledsun commented on #124
I think you use chart.js v1.1.1.
That has not a `backgroundColor` option and has a `fillColor` option.
Please refer [documents of chart.js v1.1.1](https://github.com/chartjs/Chart.js/blob/v1.1.1/docs/02-Bar-Chart.md).

And, react-chartjs is not support the horizontalBar now.
Please refer #115

[2016-06-26 14:49] ledsun commented on #125
You can access the chart by `this.refs.chart1`.

Like:

[code]

[2016-06-27 00:02] rublev commented on #118
Set the width on your graph container, then set the width of your canvas element to 100% using css `width: 100% !important`.

Set these global chart options to:

[code]

[2016-06-27 06:16] n3ssi3 commented on #125
Super, thanks

[2016-06-27 06:16] #125 closed

[2016-07-03 12:21] Baluhariharan commented on #93
+1

[2016-07-04 14:26] denl95 opened #126 "Usage with react-redux"
When I am trying to map state from store using `connect` from `react-redux` like this:

[2016-07-06 15:41] Zigur opened #127 "Registering a Plug-in"
Is it possible to register a chart.js plugin when using the 'v2' branch? How can it be done?
I am trying to add some labels to a doughnut chart (directly on the chart, like [here](http://jsfiddle.net/Gabweb/s15jj21a/) I tried to implement a _componentDidUpdate_ method inspired by that code but it draws the labels first, then it clears them when the doughnut chart is actually drawn.

[2016-07-08 02:20] ledsun opened #128 "v2: How do I add or remove a dataset to or from the datasets of a chart"
# Background

There is two way to update datasets of a chart.

1. Set a new datasets by `this.setState`
2. Update the `this.state.datasets` and call `this.setState` with the `this.state.datasets`

1 works well only update datasets without changing a number of datasets.
2 works well all manipulation.

# Implementation

The source code below is effective when 1.
But it is not effective when 2. Becau

[2016-07-11 12:51] jakubkoci commented on #93
I had the same problem, but as @nickstanish suggested in his response, node_modules exclusion in Webpack solved this. Thanks.

[2016-07-11 13:14] ledsun commented on #128
I think this is similar to #38.

[2016-07-11 13:22] ledsun commented on #121
I think this is no problem, because the `react-chartjs` has no child components.

[2016-07-12 17:45] adrianmc opened #131 "Plotting a threshold line on top of a bar chart"
Is it possible to use this library to make a chart similar to this:

![bar chart with threshold line](http://www.nature.com/nclimate/journal/v1/n8/images/nclimate1265-f1.jpg)

Additionally, can I colour the bars differently depending on whether or not they are above the threshold line?

[2016-07-13 10:23] hptk commented on #131
Refer to http://www.chartjs.org/docs/

This project is little else than a wrapper for charts.js. Be aware of version diffrences in charts.js, the master barnch of this project only supports v1.1.1, but the v2-branch (see #84) should cover v2.x thats in the docs linked above.

[2016-07-13 10:37] adrianmcli commented on #131
@hptk thanks for the reply. I had a look at some of the stuff on the chartjs repo and there seems to be some promising plugin for what I need. I'll close this comment and report what I find once I am done with my investigation.

[2016-07-13 11:17] adrianmcli commented on #84
What's the progress on this? v2.1.0 introduced plugins for ChartJS and I would really like to use it. Unfortunately, I've looked around the `chartjs-v2` branch of this project and I can't find the version number of ChartJS that it references.

That being said, since the last commit was a while ago, I'm going to assume that this project hasn't caught up to 2.1.x yet. Am I correct?

[2016-07-13 18:54] ianks commented on #84
We may need to consider forking this repo to get it to 2. There doesnt seem to be much interest in the maintainers for getting us up to 2.

[2016-07-13 19:57] austinpray commented on #84
@ianks plenty of interest. Pull requests accepted.

[2016-07-13 21:39] ianks commented on #84
@austinpray should we open a PR for chartjs-v2 branch against master as a way of tracking all the changes/things that need to be done for 2.0? I have been using that branch heavily in production with no issues, and I am sure others have as well. I propose that we get the ball rollings by making a PR and resolving any outstanding issues there.

[2016-07-13 21:58] blairmorris commented on #72
I'm running into the same issues; At first, I was looking at the ChartJS v2 docs which really through me off. The old values can be found in the old ChartJS docs [here](https://github.com/chartjs/Chart.js/tree/v1.1.1/docs)

 I wasn't able to get a legend to render without dangerouslySetInnerHTML, but the fix shown [here](https://github.com/reactjs/react-chartjs/issues/19) does work, though it feel

[2016-07-14 06:21] ledsun commented on #84
I think there is 2 options.
1. Merge the `chartjs-v2` branch and publish the `v2.0.0-beta` npm package, now
2. More test to confirm the `chartjs-v2` branch work with the Chart.js v2

I think the 1st option is better.

# Reason 1

The package.json of user applications will be more simple.

I do not want to write:

[code]

or

[code]

If you do not want to update the latest version of the npm reposi

[2016-07-14 17:07] stevewillard commented on #84
Agreed. Just merge it in and publish a beta version, otherwise this package will never progress.

[2016-07-14 19:40] austinpray commented on #84
So I am down for:
- 1.0.0: this branch tracks chartjs 1.0.0 and is basically the library as it exists. No breaking changes allowed.
- 2.0.0: this branch tracks chartjs 2.0.0 and is the chartjs-v2 branch. Tries to stay as API compatible as possible with 1.0.0. Maintenance mode. Eventually sunset this.
- 3.0.0: ES6 rewrite @contra and I are working on. Overhaul the repo to make it more testable, fix

[2016-07-14 19:43] ianks commented on #84
My thoughts:
1. Create a branch `v0.7.x-stable` branched off of current master; support bugfixes, etc. for chart.js 1.0
2. Merge all of chart.js 2.0 relevant things into master
3. Publish a package version of something like `2.0.0-beta1`, or something

## Questions

how do we want to version things, i.e. do we want to follow chartjs version, or not? Personally, I think we should pick a version num

[2016-07-14 19:45] ianks commented on #84
@austinpray Offtopic: Would you be interested in converting to codebase to Typescript at all? It can be used as an es6 compiler at first, then slowly we can add types to reduce the possibility of introducing bugs. I would be more than willing to use my experience to get the build system working so there are no pain points.

[2016-07-14 20:01] austinpray commented on #84
I understand that this could cause a bit of confusion, but ultimately this will work itself out. It's going to boil down to having a table in the readme:

| chartjs version | react-chartjs version |
| --- | --- |
| 1.x | npm install react-chartjs@1.x --save |
| 2.x | npm install react-chartjs --save |

when or if chartjs v3 comes out:

| chartjs version | react-chartjs version |
| --- | --- |
| 1.

[2016-07-18 18:49] rnaar opened #134 "LineChart will not change colors"
The line chart is rendering with a solid gray fill color, and will not change with varying options for background color in dataset, or when the fill is set to false. Data object in dataset that is being used is the same as the one in the documentation for chartjs under 'Data Structure' for LineChart.

http://www.chartjs.org/docs/#line-chart-data-structure

[2016-07-18 19:52] timothyallan opened #135 "componentWillUnmount timer is still in progress error"
I'm using
``` "react-chartjs": "jhudson8/react-chartjs#chartjs-v2"```
```"chart.js": "2.2.0-rc.1"```
``` "react": "^15.2.1"```

I've got a dropdown which lets me pick different charts. I can show the chart once just fine, in fact, I can go through all the charts and it works great... as soon as I pick a chart that I've displayed already, I get

```Warning: There is an internal error in the React p

[2016-07-18 20:25] wwalser commented on #126
While this isn't an issue with react-chartjs specifically, with Redux being popular it might be good to document the behavior and steps to avoid it. By default `connect` does a shallow check of the properties returned by it's select function. Since you always return an empty object `connect` assumes nothing has changed.

This should fix your problem:

[code]

See [Redux's documentation for details

[2016-07-18 20:45] wwalser commented on #123
Please provide code that has a minimal reproduction case for your bug.

[2016-07-18 20:55] wwalser commented on #135
There is currently an [open bug in React where this error message can be mistakenly triggered when a component throws an error](https://github.com/facebook/react/issues/6949). Please check the console for any other error messages and if that doesn't work, step through your code carefully in a debugger to see if it's throwing any unexpected errors.

If that's not the code, the maintainers will like

[2016-07-19 00:38] ledsun commented on #134
The react-chartjs is not support Chart.js V2.

If you use Chart.js v1.1.1, that has not a `backgroundColor` option.
Please refer [documents of Chart.js v1.1.1](https://github.com/chartjs/Chart.js/blob/v1.1.1/docs/02-Bar-Chart.md).

If you want to use Chart.js V2, please try `chartjs-v2` branch.

[code]

[2016-07-19 02:27] ledsun commented on #123
What about using the [forceUpdat](https://facebook.github.io/react/docs/component-api.html#forceupdate) method?

I have [an example](https://ledsun.github.io/react-chartjs-example/bar/) work well with the forceupdate metheod.

[2016-07-20 08:35] code4cake commented on #112
@MatthewHerbst, hey I'm getting a `Chart is not defined error` even when I defined in a constructor?

[code]

Can`t seem to get rid of the bug. Any help much appreciate it

[2016-07-20 16:08] timothyallan commented on #135
Yep, that's what it was @wwalser, thanks for the link. Hopefully the React gang can get it fixed up for the next release.

[2016-07-20 16:08] #135 closed

[2016-07-20 16:45] MatthewHerbst commented on #112
@dantesolis sounds like you just forgot to import it? `import Chart from 'chart.js';`

[2016-07-20 20:36] marksdean opened #136 "Error when trying to use RadarChart"
I installed per instructions.

In my code I import as follows:

import { RadarChart }                 from 'react-chartjs';

My dependencies in package.json (webpack) include:

    "chart.js": "^1.1.1",
    "react": "^0.14.8",
    "react-chartjs": "^0.7.3",
    "react-dom": "^0.14.8",

Does anyone have any ideas what could be wrong?

Thanks,
Mark

bundle.js:2213 **Warning: React.createElement: typ

[2016-07-20 22:06] marksdean commented on #136
I figured that out. Should have been 'Radar' (not RadarChart).  However the chart is rendered in gray, even though I am using sample data from examples.

datasets: [
                {
                    label: "My First dataset",
                    backgroundColor: "rgba(179,181,198,0.2)",
                    borderColor: "rgba(179,181,198,1)",
                    pointBackgroundColor: "rgba(179

[2016-07-21 02:28] ledsun commented on #136
Chart.js v1.1.1 has not a `backgroundColor` option and has a `fillColor` option.
Please refer [documents of chart.js v1.1.1](https://github.com/chartjs/Chart.js/blob/v1.1.1/docs/03-Radar-Chart.md).

[2016-07-21 02:40] ledsun opened #137 "Unkind urls of the Chart.js document in the READEME"
Many people were confused about the document of the Chart.js by READEME:
- #136
- #134
- #124

I propose to correct urls in the section `Example Usage` on the README.
I think https://github.com/chartjs/Chart.js/tree/v1.1.1/docs is good for new url.

If you need, I will create a pull request.

[2016-07-21 19:38] marksdean commented on #136
Thank you!

[2016-07-29 18:45] istok20 opened #138 "how to deploy chart v2?"
I've installed v1, then install v2 running this:
 npm i react-chartjs@git://github.com/reactjs/react-chartjs.git#chartjs-v2

now, no charts are rendered at all..

when the route with chart (that is not visible) is changed, i get

how to deploy chart v2 correctly?

[2016-07-31 11:37] lindskogen commented on #138
Are you using chartjs 2.0?

[2016-07-31 13:07] merlinstardust commented on #84
As part of the upgrade, chartjs should become a dependency of this package. This would prevent someone from installing the wrong version.

What's the current reasoning behind having devs install chartjs separately?

[2016-08-01 12:55] istok20 commented on #138
no, just went back to v1, found out how to fill colors of datasets and that's ok for me:)

[2016-08-02 15:26] pazs commented on #138
hoW?

[2016-08-05 11:22] anuj-dhanju opened #139 "Chart not working with Bootstarp Modal Box"
I am trying to render some chart on modal box, but its not working.
I have checked in dom canvas is there but chart is not displaying .
I am renderning this component in modal box

var React               = require('react');
var DoughnutChart       = require("react-chartjs").Doughnut;
var LineChart        = require("react-chartjs").Line;

var chartOptions = {
  percentageInnerCutout  : 75,
  segme

[2016-08-09 13:33] cibelius commented on #138
Is it possible to use chartjs 2.0 with react-chartjs?

[2016-08-09 16:32] nesbtesh opened #140 "GetChart not working"
Hi, I am trying to reference the chartjs object to do something like this:
`
onClick: function(e){
    var chart = getChart();
    chart.getElementAtEvent(evt);
}
`

Any ideas why is not working?

[2016-08-09 18:52] hassankhan opened #141 "Unit tests"
Are there any plans to add tests for this package?

[2016-08-11 15:01] kncs commented on #120
As far as I understand your point, bar.js need to be updated to :

[code]

I think that should do the job :)

[2016-08-11 23:05] stavarengo commented on #138
is it guys?

[2016-08-12 02:10] ledsun commented on #138
If you want to use chart.js v2, use `chartjs-v2` branch of the react-chart-js:

[code]

If you want to use chart.js v1, read documents of chart.js v1:
https://github.com/chartjs/Chart.js/tree/v1.1.1/docs
Options of chart.js is changed.

[2016-08-12 02:29] ledsun commented on #140
You can get an instance of react-chartjs component by using `ref` like:

[code]

[2016-08-14 18:25] hassankhan commented on #84
Hi, is there any update on releasing version 2? I couldn't get it to work (using the v2 branch) and ended up writing a simple wrapper myself:

[code]

[2016-08-16 18:09] #140 closed

[2016-08-22 12:41] bactisme commented on #138
When the V2 branch will be ready ?

[2016-08-29 01:44] andrewoh531 opened #144 "Data update redraws the whole chart (v2)"
I'm not sure exactly what I did but previously my chart was being updated when a data point changed. Now whenever a data point is updated the whole chart is redrawn. I was using v2 charts off jhudson8's account and now it seems like the repo's been moved to under reactjs.

I'm wondering if there was a recent change in the v2 branch or if there's a flag I can set to have data update the chart rathe

[2016-08-29 08:14] andrewoh531 commented on #144
I've tried pulling down previous commits and it seems like a change from this commit causes the graph to redraw itself: https://github.com/reactjs/react-chartjs/commit/771a788f44450d2e1968b063c2c319de60599d39

[2016-08-29 21:23] nrempel commented on #138
Hey, for everyone looking to use chartjs 2: https://github.com/gor181/react-chartjs-2 is actively maintained and works with version 2. I've switched over. It works well and should be mostly compatible (just change import statement)

[2016-08-31 04:27] xueyongg commented on #112
(intermediate value)[chartType] is not a function, im getting this same issue, im using chart.js@2.2.2 and react-chartjs@0.7.3

Any advice on this?

[2016-09-04 02:54] reggie3 opened #145 "'bars' is undefined when creating grouped bar chart"
Using the following dataset to create a grouped bar chart results in a "Cannot read property 'bars' of undefined" error in core.js line 132.
[code]
I use the following code in the render function:
[code]
The dataset was obtained from a StackOverflow question ([http://stackoverflow.com/questions/28180871/grouped-bar-charts-in-chart-js]) and results in the grouped bar chart seen in the jsfiddle here

[2016-09-06 06:55] mantou132 opened #146 "`lineTension` not work"
Set to 0 to not draw straightlines.
[code]

[2016-09-06 08:28] mantou132 commented on #146
should look [chart.js v1.1.1 documents](https://github.com/chartjs/Chart.js/blob/v1.1.1/docs/01-Line-Chart.md)

[2016-09-06 08:28] #146 closed

[2016-09-06 09:28] dmason30 commented on #144
@andrewoh531 did you find a solution to this or did you go with an older version?

[2016-09-06 21:51] andrewoh531 commented on #144
@dmason30 I'm using the version prior to the 771a788 commit

[2016-09-06 22:02] dmason30 commented on #144
@andrewoh531 I ended up controlling the render through shouldComponentUpdate in the component i am using this in needed the recent fix. I'll wait to see if the dev decides to do anything.

[2016-09-09 00:34] r0fls opened #147 "Documentation enhancement"
Would it be possible to update the examples in the documentation with an example of some of the options? I passed in the following data from the chart.js linechart example, and the graph style is completely different:

[code]

Should I pass in the style data from `datasets` to `options` instead?

[2016-09-09 02:54] r0fls commented on #147
Looks like my issue was actually the same as:
https://github.com/reactjs/react-chartjs/issues/134

[2016-09-12 12:15] silverlight513 opened #148 "Incorrect documentation"
In the readme it says the following:

I've been trying to build a doughnut chart with the data item given by the chart.js examples like so:

[code]

This wasn't working and took a look at the examples and the data structure is completely different. The data in the example is similar to:

[code]

[2016-09-13 04:45] #147 closed

[2016-09-13 18:22] itayariel commented on #148
👍
thanks that helped me

[2016-09-21 19:41] merlinpatt opened #150 "Chart only displays values for every other column"
I'm getting an odd bug where the values for the x-axis of the bar chart only show up for every other column, as shown in the image below.

![every_other_column](https://cloud.githubusercontent.com/assets/421960/18726291/bcd78378-8011-11e6-9cf9-f7c20d447402.png)

Any ideas as to the cause or how to fix it?

[2016-09-24 06:58] maxfarseer commented on #72
@blairmorris can you share example?

[2016-09-29 05:36] pwhipp commented on #112
A bit worrying that @MatthewHerbst fix that does not use this package at all seems to be the go here. I couldn't get this package working but his code provided a good template for getting things working (don't need the 'forEach' iteration though, you can just assign the new datasets ).

[2016-09-29 10:37] CallMeXYZ opened #151 "can i use it without RequireJS and add it to <script> tag directly ?"

[2016-09-29 22:01] krukid commented on #112
@pwhipp AFAIK it's not cool to modify state directly, bypassing `setState`, so I store the chart instance in a private variable. Also, it seems like a good idea to `destroy` the chart on unmount.

[code]

[2016-09-29 22:14] MatthewHerbst commented on #112
@krukid I don't bypass `setState` in any part of my code.

[2016-09-30 08:17] krukid commented on #112
@MatthewHerbst but you're changing state properties in `componentDidUpdate`: `this.state.chart.data.datasets = ...`

[2016-09-30 18:10] MatthewHerbst commented on #112
@krukid I'm not overriding state, just getting a copy of it. That's why I save it off into it's own variable.

It's equivalent to doing:

[code]

Nowhere in the above does the value of `x` change.

[2016-10-04 03:49] ramimazid commented on #115
@OddEssay How do you get `HorizontalBar` to work in your branch? It returns `undefined` when I reference it.

[2016-10-04 08:27] couzic commented on #138
Same here, I switched to [react-chartjs-2](https://github.com/gor181/react-chartjs-2) and so far I am happy. Same API and the repo is very active.

[2016-10-05 10:24] wrk123 commented on #19
@christchron I was also facing the issue, but after some experimentation I found that you need to attach the solution mentioned by @temnoregg  as a separate component along with passing it  chart data, no option value, then you will get the required legend alongwith graph. Was experimenting the same with Piechart.  @temnoregg  hot to get legend with values plotted in the graph or how to display th

[2016-10-06 21:35] merlinstardust commented on #150
[Solved here](https://github.com/chartjs/Chart.js/issues/3435#issuecomment-251991156)

[2016-10-06 21:35] #150 closed

[2016-10-11 17:53] emirdeliz commented on #93
Thanks @nickstanish works for me!

[2016-10-12 02:03] nguyenhose opened #152 "Horizontal Bar chart ?"
hi, I just check on this issue:
https://github.com/chartjs/Chart.js/issues/73
And seem react-chartjs doesn't work with `options = { invertXY: true }`  as chartjs:
http://jsfiddle.net/xcchcaptain/ye2wdou0/4/

Maybe this option has not implemented yet. Please investigate.

[2016-10-12 22:22] octalmage commented on #148
This library is using an older version of Chart.js, 1.1.1. The documentation has been updated on chartjs.org for the new 2.0 version of the library.

[2016-10-12 22:24] octalmage commented on #148
You can find the old docs here:

https://github.com/chartjs/Chart.js/tree/v1.1.1/docs

[2016-10-16 08:47] amangeot opened #153 "getSegmentsAtEvent ?"
Hello,
I would like to use a Doughnut Chart in a dynamic way. I want to change the color of an element on click events.

How can we use `getSegmentsAtEvent` with the current `react-chartjs` API ?

I can't find any documentation about events,

[2016-10-16 08:56] amangeot commented on #153
Sorry, just found another issue with an example.

I'll paste it here if it can help:

[code]

[code]

[2016-10-16 08:57] #153 closed

[2016-10-16 21:03] crobinson42 opened #154 "v2 release/roadmap?"

[2016-10-19 19:48] smitt04 commented on #151
+1

[2016-10-27 14:37] selimovicz opened #155 "Get points on event returns empty array."
`  handleOnClick(event) {
    console.log(this.refs.lineChart.getPointsAtEvent(event));
  }`

As title states, this console log always returns empty array even though graph is showing a lot of data.

[2016-10-27 15:12] naeembhatti786 opened #156 "implement zoom in and zoom out"
how can i implement zoom in/out in same react chart

[2016-10-28 18:24] Jareechang commented on #155
are you extending the class ? my `this.refs` only has `{ canvass: ... }` I am not sure how you are able to do this otherwise.

It would help to debug it if you post more code.

[2016-10-28 18:45] Jareechang commented on #155
You can make use of extensions to get a reference to this canvas.

[code]

[2016-10-29 21:39] dcurletti commented on #57
Another way to solve this would be to use code splitting.  https://webpack.github.io/docs/code-splitting.html#defining-a-split-point

If you dynamically require `Chart.js` inside of `ComponentDidMount` and then initialize the chart in the callback, you can avoid a lot of nasty workarounds.

[2016-10-29 22:52] Jareechang commented on #154
Hey, I don't have a release or roadmap but I am planning to do some work on the library.

It'll be on the branch _chartjs-v2_. Is there anything in particular you guys think would be nice or are missing from that current branch ? I know someone has already added support for the new Chart.js version 2.0 + chart types

[2016-10-29 22:58] philipwalton commented on #154
For my use cases the 2.0 version of ChartJS works with this library, but I'm still getting an npm warning when installing.

Unless there's a known conflict with 2.0 (that I'm just not experiencing), I'd at least like to see the `peerDependency` less restrictive.

[2016-10-30 03:42] Jareechang commented on #154
@philipwalton, you are right, for some core features it should be no problem.

However, I've noticed some features in this version start to break for **Chart.js V2**. This library has bound onto some methods only specific to V1 when initializing some of the charts.

One example is the `getPointsAtEvent(e)` method in **Chart.js V1** which is deprecated and changed to `getElementsAtEvent(e)` in **Ch

[2016-10-30 04:13] Jareechang commented on #152
please check [**Chart.js V 1.1.1**](https://github.com/chartjs/Chart.js/tree/v1.1.1/docs) docs if that option is available. I think there are plugins that you can incorporate into Chart.js to achieve this though.

Either way, you may be using a later version of Chart.js in your fiddle.

You can always upgrade to **Chart.js V2**, there is a specific type:

[code]

[2016-10-30 04:42] Jareechang commented on #145
This is working fine for me.

Are you sure you are requiring the lib correctly ?

_something like this:_

[code]

Also, it looks like you are using `this.state.data`, please check if that is defined as well.

[2016-10-31 01:22] nguyenhose commented on #152
Thank you, I changed to [react-chartjs-2](https://github.com/gor181/react-chartjs-2) package, it worked like charm!

[2016-11-08 12:08] Aman725 opened #158 "Charts Not rendering in multiple Tabs"
Hi,
I am trying to render multiple Doughnut charts in multiple tabs(react-bootstrap tabs), But Doughnut chart only shows on Default tab.

Here is the code for parent component with tabs

export default class DealBreakUpStats extends Component {
    constructor(props) {
        super(props)
        this.state = {
            key: 1
        };
    }
    handleSelect = (key) => {
        this.setStat

[2016-11-17 13:01] sttevan88 commented on #114
When will the v2 version be the official ?!

[2016-11-21 07:43] mohanprasaths opened #159 "Horizontal Bar chart"
render(){
var ctx= document.getElementById("test")
var myBarChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: data,
    options: options
});
}
return (<div id="test"></div>)

Even though I give this , the code in the component get executed before the document gets loaded . So "ctx" will be null . I need to use without Jquery plugin.

[2016-11-21 10:08] Pau1fitz commented on #151
http://stackoverflow.com/questions/40716800/using-library-without-require-when-using-cdn

see answer here!

[2016-11-21 10:14] Pau1fitz opened #160 "Options object not working"
Everything is set up and the bar chart is showing, however the `options` are not having any effect on the chart.

I am consuming react-chart js from a cdn

I am including the following files:

[code]

and here is my js code

[code]

Can anyone spot anything that I have done wrong? I have also noticed that the `label` in the `datasets` object are not showing. My guess is that is down to the version

[2016-11-21 14:30] Pau1fitz opened #161 "Using with an api response prevent graph being displayed on each time render function called."
Has anyone successfully managed to get this working to visually display data returned from an API call? The graph gets rendered twice.

[code]

[2016-11-21 14:35] Pau1fitz commented on #161
[code]

[2016-11-21 16:03] #161 closed

[2016-11-22 12:31] janakact commented on #160
I have a similar problem too.

[2016-11-22 15:29] tsnolan23 commented on #160
I'm also experiencing the same issue.
ChartsJs v1.1.1
React ChartJs v0.8.0

[2016-11-23 08:33] janakact commented on #134
@ledsun
Thanks a lot :+1:

[2016-11-23 08:34] janakact commented on #160
@tsnolan23
Check this out https://github.com/reactjs/react-chartjs/issues/134
Switching to chartJs v2 solved the  problem.

[2016-11-25 13:17] ashutoshjha1409 opened #163 "In Barchart, options doesn't allow stacking over y-axis."
Here is my code,

`let chartData = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",

[2016-11-28 05:25] ashutoshjha1409 commented on #159
Initialise chart in componentDidMount()

For E.g

`componentDidMount(){
	var ctx= document.getElementById("test");
		var myBarChart = new Chart(ctx, {
			type: 'horizontalBar',
			data: data,
			options: options
		});
	}
}
`

Sorry, can't indent properly

[2016-11-28 13:57] openmohan commented on #159
Thanks @ashutoshjha1409  . Forgot that completely

[2016-11-29 14:00] sunlee-newyork commented on #163
+1

[2016-12-02 19:55] zacharybrady commented on #160
Anyone able to solve this? Switching to v2 did nothing for me.

[2016-12-02 20:02] Pau1fitz commented on #160
Probably not the place to say it, but I ended up switching to use a different library. It's called recharts, and it all works quite smoothly - https://github.com/recharts/recharts

[2016-12-02 20:14] zacharybrady commented on #160
Actually, switch to v2 broke my project and now that I'm trying to switch back the charts aren't appearing.

[2016-12-02 20:14] tsnolan23 commented on #160
Switching to v2 did nothing for me either, I just got more errors with that. I created my own simple Chart component using the ChartJS library to see if anything changes here.

[2016-12-02 20:21] tsnolan23 commented on #160
@zacharybrady If you look at the docs for ChartJS, they actually note to different React libraries:

http://www.chartjs.org/docs/#notes-popular-extensions

Maybe one of those could help you.

[2016-12-02 20:34] zacharybrady commented on #160
@tsnolan23 Unfortunately I'm getting the same error which seems to be something between ChartJS2 and either Webpack or Babel.

[2016-12-02 20:35] zacharybrady commented on #160
Also to note. I'm using both a Doughnut Chart and a Bar Graph. Options work perfectly for the doughnut chart but not for the bar graph.

[2016-12-06 17:09] nikcub commented on #160
I switched to https://github.com/gor181/react-chartjs-2 and solved all my issues - both options not being picked up and charts not being resized. If I had more time i'd investigate what was going on.

[2016-12-08 15:29] afraser commented on #144
I'd love to have this feature back as well.

[2016-12-09 17:50] touqeerkhan11 opened #164 "nextProps.data.forEach is not a function"
Im getting this issue `nextProps.data.forEach is not a function` only in PieChart and DoughnutChart others working just fine

[code]

[2016-12-11 08:52] FardinKarimi commented on #164
I can confirm this for Polar Area Chart also.

[2016-12-11 10:19] xtabbas commented on #164
@FardinKarimi I solved the issue using react-chartjs-2 which is actively maintain BUT if you want to use this version you have to use chartData as an array with PieChart DoughnutChart etc so something like this should work

[code]

[2016-12-11 10:20] #164 closed

[2016-12-13 04:54] cyllu2 opened #165 "Responsive? HAHAHA"
How does this package have this many stars? Every time you resize or change data, the fucking chart balloons up in size. Setting max-height doesn't work, wrapping in div doesn't work, EVERYTHING comes with a caveat such as labels taking up the majority of the size instead, etc.

Worthless. Piece. Of. Shit.

[2016-12-13 06:00] khalednobani commented on #165
@cyllu2 Can you share the screenshots / video ?

[2016-12-14 12:01] FardinKarimi commented on #164
@touqeerkhan11 thanks so far. Using chartData didn't help, so I switched to the maintained `react-chartjs-2` and it works well.

[2016-12-20 09:35] pavlo-koval commented on #163
The same problem

[2016-12-20 10:20] pavlo-koval commented on #160
I had the same problem, but after switching into chartjs v.2 everything work fine,
try this commands:
npm install --save chart.js@^2 react react-dom
npm install -S react-chartjs@git://github.com/reactjs/react-chartjs.git#chartjs-v2

[2016-12-20 10:21] pavlo-koval commented on #163
Solved #160

[2016-12-22 09:53] jorilallo commented on #165
People do open source for the good of their hearts. If you think a library is a piece of ****, keep that to yourself and write a better one. Or better yet, fix the issue. It's issues like this that make people leave open source.

[2016-12-22 10:06] cyllu2 commented on #165
Good.

[2016-12-22 10:06] #165 closed

[2016-12-24 12:29] witalobenicio opened #168 "Cannot read property 'Component' of undefined"
I'm trying to use react-chartjs with napa:

[code]

but i'm getting this error in console when trying to print a Pie chart:

[code]

And this is how i use in my render:

[code]

[2016-12-28 04:16] CallMeXYZ opened #169 "exports `ReactChartJs` rather than `react-chartjs` so we can simply call `ReactChartJs` rather than `window['react-chartjs']`"

[2016-12-29 16:45] lebiathan opened #170 "Labels rotate in RadarChart"
Hi,

This may totally be a problem with my code as I've not worked before w/ the library.

I have a radar chart within a class that I'm using ( a page that gets displayed after some search ).

My code, roughly, looks like the following:

var Chart = require("chart.js");
var classnames = require('classnames');
var RadarChart = require("react-chartjs").Radar;

`export default class MyClass extends R

[2016-12-31 10:10] Chancefeng opened #171 "xy轴对应的数据与图表内显示的不一致"
我使用react-chartjs的时候，发现xy轴对应的数据与图表内显示的不一致，
<img width="417" alt="bug-b" src="https://cloud.githubusercontent.com/assets/20652693/21576978/5937cf14-cf83-11e6-8b02-f9c845ca2702.png">
<img width="309" alt="bug-a" src="https://cloud.githubusercontent.com/assets/20652693/21576979/596b24d6-cf83-11e6-84bb-399e164941b3.png">
将core.js
147行
` chart.addData(values, nextProps.data.labels[setIndex]);`
修改为
`char

[2017-01-02 17:49] allenyin55 commented on #170
Hi @lebiathan, I had a similar problem just now, and I solved it by passing 'redraw' as a prop to my radar chart. In your case, you can try something like
 `<RadarChart data={this.RadarValues} options={this.chartOptions} redraw/>`

Hope it helps.

[2017-01-02 17:56] lebiathan commented on #170
Hi @allenyin55, thanks for the feedback. I'll give it a try.

From what I noticed by digging into the code, the problem has to do w/ the chart.removeData() invocation in: https://github.com/reactjs/react-chartjs/blob/master/dist/react-chartjs.js, line 196.

It seems that this method removes one of the labels, but not the respective data point. Honestly, I do not know why the label needs to be remo

[2017-01-02 20:04] allenyin55 commented on #170
Hi @lebiathan, I just read the source code and it looks fine to me. I tried running your code and it doesn't compile for me. With some modifications, I got it work for me and I am not experiencing the label rotating issue.

Here's the code:

[code]

[2017-01-03 01:14] lebiathan commented on #170
Hi @allenyin55,

Thanks for the follow-up, really appreciate it. Most likely the assignment sign ( labels = myCategs ), was a poor porting of my code ( I removed a bunch of stuff, didn't just do copy / paste ). The code was compiling, so I doubt that was the reason for missing out a value.

I'll give a try to your suggestions and have another look at my code (went on w/ a different library for now

[2017-01-07 20:06] mtford90 commented on #57
I added the following to core.helpers.js:

[code]

Works a treat. Can use the same method as @enten uses above to make sure this is always prepending to core.helpers.js on install.

[2017-01-12 13:06] huozhi commented on #35
@contra chart.js current version is v2.4.0, react-chartjs peer dependency chart.js is v1.1.1. Downgrade chart.js to version v1.1.1 works well.

[2017-01-16 19:02] a-r-d opened #172 "This project is not working with latest chart.js code (API change)"
Apparently the latest chart.js has changed their initialization API so that when this line in core is called, initialization fails:
[code]

It seems that version 1.1.1 of chart.js is working fine, not sure when the breaking change went in. The latest version of chart.js is 2.4.0, and it does not work with this project anymore.

[2017-02-09 18:11] Jareechang commented on #172
this library is based on specific version of chart.js (1.1.1) and certainly when upgrading to a major version, there will be plenty of deprecations.

[2017-02-12 12:29] gazofnaz commented on #160
v1.1.1 has a completely different syntax for setting the options: https://github.com/chartjs/Chart.js/blob/v1.1.1/docs/01-Line-Chart.md

That's why what is posted is not working.

[2017-02-13 18:11] austinpray commented on #165
PRs accepted

[2017-03-05 23:36] bpina commented on #170
@lebiathan I was having the same issue, but using the redraw attribute that @allenyin55 mentioned seems to have solved the problem.

I reproduced the issue with static data, quite similar to the updated `MyClass` example. The chart's parent container was being hidden/shown, so the chart was being re-rendered each time the parent became visible. Each additional time the chart was rendered, the labe

[2017-03-30 13:58] vasuchawla commented on #114
When will the v2 version be the official ?!!

[2017-03-30 20:38] alexfqc opened #176 "this.state.chart is undefined at componentWillReceiveProps"
classData.componentWillReceiveProps = function(nextProps) {
      var chart = this.state.chart; // can be undefined
      if (chart) { // if not undefined then do the action
        if (nextProps.redraw) {
          chart.destroy();
          this.initializeChart(nextProps);
        } else {
          dataKey = dataKey || dataKeys[chart.name];
          updatePoints(nextProps, chart, dataKey);

[2017-04-02 17:22] lcardito opened #177 "PieChart not rendering"
Hey guys,

Firstly thanks for this work. Much appreciated.

I easily managed to display a Line chart without any issue. However within the same project I am trying to display a Pie chart but the canvas comes out empty when using css to set the width and height of the canvas it self.

[code]

The css:

[code]

The html generated:

[code]

Am I doing something wrong or is there something to fix?

Ch

[2017-04-04 11:16] pankaj805 commented on #108
Any update on this ? i also need the same functionality

[2017-04-04 19:04] pankaj805 commented on #177
@lcardito  If i may make a suggestion .. If you want your chart to be of a particular size.. why don't you wrap it inside a div. Give some dimension to the div and render the chart with responsive property as true

[2017-04-04 19:31] lcardito commented on #177
@pankaj805 thanks for the hint. The css trick I've tried works fine for a LineChart hence my question. Anyway I ended up moving to plain Chart.js without this wrapper.

Thanks!

[2017-04-11 19:02] jon-choi opened #178 "scatter not working"
is this a known issue?

error
![image](https://cloud.githubusercontent.com/assets/9872658/24925901/9872cd8a-1eae-11e7-83d0-0ba9a15c1030.png)

data, options
![image](https://cloud.githubusercontent.com/assets/9872658/24925898/93701dec-1eae-11e7-884d-b5b66eef64b7.png)

init
![image](https://cloud.githubusercontent.com/assets/9872658/24925907/a05491d2-1eae-11e7-896e-7c603af68baf.png)

[2017-04-11 19:24] jonchoi commented on #178
upgrading to latest chart.js (2.5.0) fixed the issue.

[2017-04-11 19:24] #178 closed

[2017-04-19 03:41] smalike opened #181 "Please update chart.js version."
Thank you.

[2017-04-19 14:51] #181 closed

[2017-04-21 10:33] eugensunic commented on #73
I've got the same problem, weird things happen

[2017-04-21 11:19] eugensunic commented on #73
This is the solution to the problem:
**First thing:**
set the react lifecycle in order for things to get dynamic in your canvas wrapper, the code below is easy and understandable.
[code]
**Second thing:**
make the style for the react chart, so you can attach it to the style attribute aftewards

[code]
**Third thing:**
put the canStyle into the react-chart component, and **remember** the canvas inn

[2017-04-21 14:49] scorgn commented on #108
@pankaj805 See my comment here if you are still looking for a solution.
https://github.com/chartjs/Chart.js/issues/78#issuecomment-289264197

[2017-04-23 02:20] epalaima opened #182 "Many Chart/Dataset Options Do Have Any Effect"
Hi, I have been trying to customize the look and feel of my charts using the options found in the chart.js documentation, but many of them do not have any effect. For example, I will pass something like

{
labels: ["January", "February", "March", "April", "May", "June", "July"],
   datasets: [
        {
            label: "TheChart",
            strokeColor: "rgba(220,220,220,1)",
            fill

[2017-05-10 23:36] ljknight opened #183 "React.createClass is deprecated"
From the console warning: React.createClass is deprecated and will be removed in version 16. Use plain JavaScript classes instead. If you're not yet ready to migrate, create-react-class is available on npm as a drop-in replacement.

[2017-05-14 15:40] merlinstardust commented on #182
Can you wrap your code samples with backticks to make them easier to read? I might be able to see what is wrong then.

Also, your title is missing the word "not", which is confusing. You should probably fix that.

[2017-05-14 15:44] merlinstardust commented on #154
@Jareechang @austinpray when is it planned for v2 to fully replace v1 and get published to npm?

[2017-05-14 16:33] crobinson42 commented on #154
A @next release tag in npm would be nice.

On May 14, 2017 8:44 AM, "Merlin Patterson" <notifications@github.com>
wrote:

[2017-05-16 13:24] mosheshmukler commented on #123
have the same problem. the entire example is at http://stackoverflow.com/questions/44002091/react-chartjs-state-update-error

[2017-05-17 05:55] darvid7 commented on #182
Hi, having a similar problem using the example for a line chart in provided by the Chart.js documentation.

[code]
I get the following graph. I'm not sure why none of the colors are coming through.

<img width="318" alt="screen shot 2017-05-17 at 3 54 11 pm" src="https://cloud.githubusercontent.com/assets/11433468/26140277/269ba722-3b19-11e7-88bb-38b328f9212d.png">

Thanks,
David.

[2017-05-17 06:14] darvid7 commented on #182
Have a similar issue with `fill: false` in datasets not affecting the graph and neither did `datasetFill: false` in `chartOptions`.

Here is a workaround for making the area under the graph not be filled.
[code]

[2017-05-22 16:15] guillaumekugener commented on #178
This is still an issue for me having added react-chartjs to my project. Here is the package.json file within project:

[code]
I am using the same code as above to try to generate a line plot and am getting the same error.

Thanks!

[2017-05-22 16:18] guillaumekugener opened #185 "scatter still not working"
Same issue as #178. Here is the package.json file within project:

[code]
I am using the same code as used in #178 to try to generate a line plot and am getting the same error.

Thanks!

[2017-05-23 10:21] davideghz commented on #177
I have the same issue. I can successfully render a Line and Bar Chart, but I can't manage to display a Doughnut Chart.. code I use for Doughnut is exactly the same I use for Line/Bar, and I don't get any error in console.

[code]

any clue?

[2017-05-23 10:52] davideghz commented on #177
Switched to https://github.com/gor181/react-chartjs-2 that works like a charm with chartjs 2.4+

[2017-05-29 11:58] tomav commented on #160
@nikcub and @PashaKoval worked for me. Thanks guys.

[2017-05-29 11:59] tomav commented on #163
Thanks @PashaKoval!

[2017-06-12 03:44] davidmason opened #186 "Is this project abandoned?"
Could someone tell us whether this project is abandoned, or who is in charge of maintaining it now?

There are some useful pull requests that have been sitting unmerged for a while, and no activity on master for months. Who can I talk to about getting some of these merged, or getting access so I can do it myself?

[2017-06-12 03:45] davidmason commented on #186
@jhudson8 @austinpray can either of you answer this?

[2017-06-12 08:53] arjunskumar47 commented on #186
@davidmason I did reach out to @jhudson8 regarding the same and he said he don't maintain it anymore.

I'd really love to jump in on this.

[2017-06-12 10:37] davidmason commented on #186
Thanks @arjunskumar47

I will try to get in touch with someone from the reactjs org since that is where it lives now.

[2017-06-12 15:08] austinpray commented on #186
@arjunskumar47 I added you as a collaborator, feel free to go to town!

[2017-06-12 15:09] #186 closed

[2017-06-13 01:25] davidmason commented on #186
@arjunskumar47 let me know if you want a hand to review PRs or something.

[2017-06-13 05:51] arjunskumar47 commented on #186
@austinpray Thanks, and I'm looking forward to it.
@davidmason I'll send an email to you on how we can take it from here.

[2017-06-13 07:19] davidmason commented on #172
@a-r-d the master version is only expected to work with 1.x versions of chartjs. There is a branch for chartjs-v2 but no releases from that branch yet.

We will be working on roadmaps soon, so I think we will look at what is needed to get the v2 branch ready for release.

[2017-06-28 02:28] BrodaNoel opened #188 "Is this project active?"
Hi guys!
I'm seeing that this project has no commit for a long long time.
Is this project active? Is someone checking all PRs looking for some of them that can be merged?

Thanks!

[2017-06-28 05:50] arjunskumar47 commented on #188
@BrodaNoel Yes - It's a new maintainers group here and we're working on a roadmap and merging important PR and release strategy.

[2017-06-28 05:50] #188 closed

[2017-06-29 22:53] prismofeverything commented on #112
Getting this error also. Consensus seems to be don't use this lib??

Okay.

[2017-07-04 05:31] sanyam1212 commented on #112
i'm also facing the same error !!
my **script** is

var portfolio_b = function(data){
        $scope.labels2 = [];
        $scope.data2 = [];
        for(var i = 0 ; i < data.length ; i++){
            $scope.labels2.push(data[i].name);
            $scope.data2.push(data[i].y);
        }
        var options = {
            segmentShowStroke: false,
            animateRotate: true,
            anim

[2017-07-05 12:34] janicheg commented on #182
@darvid7 thanks a lot!

[2017-07-13 15:06] ItsMeVlad opened #189 "React-native support"
Awesome library! React-native could greatly benefit from this, is it portable to react-native? If not, would this be a possibility?

[2017-07-14 03:55] michaelroevievictoria opened #190 "Display Legends in Pie graph using react chartjs1"
Im using "react-chartjs": "^0.7.3", and I want to display my legends using Pie Graph and my code looks like this. The pieConfig the configuration that I want to display, and the this.state.dataPie is my default

[code]

[2017-07-16 05:37] jslok commented on #189
+1

[2017-07-17 07:28] joshi-mehul commented on #190
Hi @michaelroevievictoria can you provide fiddle? I would love to provide fix for this.

[2017-07-20 10:20] michaelroevievictoria commented on #190
Hi @joshi-mehul thanks for the help Pal! But now I finally figure it out how to do it.. sorry if I don't have jsfiddle code: but here's some code snippets (react-js, babel, ES6)

import { Pie } from 'react-chartjs'

pieConfig:{
       //Boolean - Whether we should show a stroke on each segment
       segmentShowStroke: true,

       //String - The colour of each segment stroke
       segmentStroke

[2017-07-26 11:18] xmeltrut commented on #182
+1. I'm having similar issues. However, it could be the chart.js documentation. It is rather confusing trying to work through the different levels of properties they have and how they should be correctly nested. But I have this:

    const options = {
        responsive: true,
        scales: {
            xAxes: [{
                ticks: {
                    display: false,
                    f

[2017-07-30 20:32] ubermensh commented on #182
Options is not working. It is not about version of chart js. Useless component.

[2017-08-01 06:56] joshi-mehul commented on #190
@michaelroevievictoria great, happy that you've fixed the issue.

[2017-08-01 06:58] joshi-mehul commented on #176
@alex3165 it's in core.js right? please provide more data, where you're getting this? I have submitted pull request for this issue.

[2017-08-14 13:56] nabilfreeman opened #191 "v2 Abandoned?"
Is this repo still active for Chartjs 2?

I found a more active repo here:

https://github.com/jerairrest/react-chartjs-2

... and am trying to understand which library is best to use.

[2017-08-15 19:38] lomo009 commented on #189
+1

[2017-08-17 22:40] jgentes commented on #112
easiest solution: use https://github.com/jerairrest/react-chartjs-2

[2017-08-29 16:54] acomito commented on #189
+1

[2017-08-29 16:55] acomito commented on #21
seems this is still going?

https://www.npmjs.com/package/react-native-canvas

[2017-08-30 20:34] brancooo1 commented on #189
+1

[2017-09-01 10:23] joshi-mehul commented on #190
@michaelroevievictoria please close the issue now.

[2017-09-11 19:42] gogumai commented on #189
+1

[2017-09-13 11:32] #190 closed

[2017-09-13 21:31] liorocks commented on #191
Same here. Need for the upcoming project and looking for the best solution.

[2017-09-19 15:11] andoshin11 commented on #189
+1

[2017-09-21 03:22] pagesrichie commented on #57
@enten Good fix - it works for those of us that aren't using webpack, and it worked for my Meteor based solution.

However - with your code every time we run an 'npm install' it's going to write multiple copies of the javascript code we want to prepend.

So I came up with an add-on to your solution and mixed up @mtford90 's code.  This takes a regular expression and searches for the // < HACK > ti

[2017-10-03 19:26] deoxxa commented on #183
Annnd now it's completely gone. The PR that references this issue was merged into the v2 branch, which doesn't seem to be the same as what's on npm.

[2017-10-09 14:08] sabbul786 commented on #183
Good

[2017-10-13 17:57] lorenzosjb opened #193 "IE 11: Unknown prop redraw on canvas tag on Doughnut component"
Browser: Internet Explorer 11.0.9600.18792, Update Versions: 11.0.46
Operating system: Windows 7 Professional Service Pack 1 64 bits

This code works correctly on Chrome and Firefox latest build but not on Internet Explorer 11:

<Doughnut className="chartstyle" data={this.props.chartData} options={this.props.chartOptions}  ref="chart" redraw/>

Error:

Warning: Unknown prop `redraw` on <canvas> ta

[2017-10-17 18:57] freakaziod210 commented on #112
@MatthewHerbst Thank you sir!! You have preserved my sanity!!

[2017-10-21 10:53] studioraygun opened #194 "UNMET PEER DEPENDENCY react@16.0.0"
Why am I getting this when trying to install react-chartjs on a fresh install of create-react-app?

package.json looks like this:

[code]

[2017-11-14 11:59] gcardacci opened #195 "Compatibility with version 16 of react"
With the new React update I get some errors, since they have removed methods from the React core such as propTypes and createClass

Do you plan to update this library to make it compatible?

[2017-11-14 12:01] cardacci commented on #194
I think that this library does not support the new update 16 of React, you can see my thread about it, it might be useful: [https://github.com/reactjs/react-chartjs/issues/195](https://github.com/reactjs/react-chartjs/issues/195)

[2017-11-14 14:34] fb13 commented on #158
Same issue here... Charts only show on default tab for bootstrap 4...

[2017-11-17 01:09] davidmason commented on #158
Sounds like there could be an interaction with react-bootstrap here. I've had some issues in the past with react-bootstrap doing things in strange ways.

I have no time for the foreseeable future to look into this, but I can make enough time to review and merge a fix if someone wants to investigate and make a pull request.

[2017-11-17 09:24] iratierana commented on #108
Hi,
this solution dosnt work on my code. Can someone help me? This is my code.

`var config = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [
                        data.VSTPS_OEEDATOF[0].PctOEE,
                        "100" - data.VSTPS_OEEDATOF[0].PctOEE,
                    ],
                    backgroundColor: [

[2017-11-19 05:55] rambabusaravanan commented on #195
Yes, I'm also facing issue the error in React 16

Any plans to migrate ..?

[2017-11-19 14:07] m-ketan opened #196 "Need help in figuring out config for a custom tooltip"
I'm a complete beginner to Chartjs (or any other data visualisation library) and having a hard time figuring out the configuration from the official docs for designing a custom tooltip (line graph) like below:

![graph](https://user-images.githubusercontent.com/25750653/32991339-86027eec-cd5f-11e7-9c83-8cca2d0ebc1a.png)

**Current config and looks:**

[code]

![graph2](https://user-images.githubus

[2017-11-20 15:56] nomanali-dev opened #197 "Uncaught (in promise) TypeError: Cannot read property 'xLabels' of undefined"
I am getting this error while setting up **react-chartjs**, i am using example given [here ](https://www.npmjs.com/package/react-chartjs).
This is the error i am getting:

[code]

**Here is my code:**

[code]

[2017-11-21 10:03] nudelx opened #198 "contribution request"
Hi

I would like to contribute and update the project to work with R16. My PR is ready. Just need a permissions to push it into the repository.

[2017-11-21 15:54] rgranger commented on #195
+1 for visibility

[2017-11-21 23:33] austinpray commented on #154
If someone wants to spearhead this I can def give them contribution and npm access.

[2017-11-22 12:35] #196 closed

[2017-11-23 02:41] savacristian commented on #195
+1

[2017-11-24 02:08] DiViNiZe commented on #195
++

[2017-11-27 11:35] pnicorelli commented on #195
+1

[2017-11-27 16:29] austinpray commented on #195
You guys should review this: https://github.com/reactjs/react-chartjs/pull/192

[2017-11-27 16:31] austinpray commented on #198
Fork the project and submit a PR! Would be happy to accept it and give you contributor access afterwards.

[2017-11-27 16:31] #198 closed

[2017-11-28 16:14] yankopetrov commented on #183
1 month late and still not fixed :( That's bad sign.

[2017-11-28 20:08] austinpray commented on #183
Fix it on master -> submit a PR -> I'll merge it and make an npm release

[2017-11-29 07:08] yankopetrov commented on #183
There is already PR about that https://github.com/reactjs/react-chartjs/pull/192

[2017-12-02 14:42] gauravkalyan opened #199 "TypeError: React.createClass is not a function"
React removed createClass from version 16. I think that is why we are getting the issue (source : https://stackoverflow.com/a/46556139/3190165)

[2017-12-02 14:43] #199 closed

[2017-12-04 16:40] LadyInnogen commented on #195
+1

[2017-12-05 07:11] gauravkalyan commented on #195
+1

[2017-12-07 02:33] #118 closed

[2017-12-19 04:05] jamding opened #200 "Combo line & bar, upgrade chartjs to 2.0"
Chartjs 2.0 introduces [combo line & point](http://www.chartjs.org/samples/latest/charts/combo-bar-line.html), requires upgrading chartjs dependency and exporting react component

[2017-12-19 10:03] zhaozhouyang commented on #195
+1

[2017-12-19 11:52] nettiopsu commented on #195
+1

[2017-12-19 13:11] austinpray commented on #195
If anyone wants to take a crack at it I am more than happy to give you contributor access.

[2017-12-20 16:50] HPaulos opened #201 "React.createClass is deprecated"
As React.createClass is deprecated method it needs to be resolved. It can be resolved with use of library 'create-react-class'. Please resolve it.

[2017-12-21 17:44] saikatbhattacharya commented on #195
May I try to resolve that? Give me access please.

[2017-12-21 18:19] austinpray commented on #195
@saikatbhattacharya you got it! go for it

[2017-12-29 17:56] blizzo521 commented on #201
With React `16.2.0` I get an error rather than a deprecation warning:
`Uncaught TypeError: React.createClass is not a function`

[2018-01-02 14:17] brianh20 opened #203 "Can't return to first data set"
Hello, I am having an issue updating the dataset shown.

This is the setup:
I have a component which has a sidebar with different names for the datasets and a pie chart.
The dataset of the <Pie> is tied to data[display] where data is an array received by props and display is automatically set to the first key in the array and is reset to the option selected in the sidebar.

The question is:
When I

[2018-01-02 16:45] benmccann commented on #200
Depends on https://github.com/reactjs/react-chartjs/issues/84

[2018-01-02 16:45] benmccann commented on #154
Duplicate of https://github.com/reactjs/react-chartjs/issues/84

[2018-01-02 16:46] benmccann commented on #138
Duplicate of https://github.com/reactjs/react-chartjs/issues/84

[2018-01-02 16:47] benmccann commented on #154
@gor181 would you like access to merge your fixes into this repo and release a new version per @austinpray's last comment?

[2018-01-02 20:08] gor181 commented on #154
@benmccann I have handed the repo to @jerairrest due to lack of time. So leaving up to him to decide. Thanks for mentioning 👍

[2018-01-02 20:59] jerairrest commented on #154
@benmccann I would be all for combining the repos together instead of having them fragmented for each major version of chart-js!

[2018-01-02 21:04] austinpray commented on #154
@jerairrest I sent you contributor access. Let me know if you need anything else!

[2018-01-03 01:35] jerairrest commented on #154
Are we wanting just the index.js to be merged in? Or everything including the Typescript definitions, old tests as well as the storybook?

[2018-01-03 02:35] benmccann commented on #195
@DylanMunyard should this be closed now that https://github.com/reactjs/react-chartjs/pull/192 has been merged?

[2018-01-03 02:39] benmccann commented on #154
@jerairrest I would leave it to your discretion to merge anything you think is of value. I know @ianks was wanting Typescript definitions in https://github.com/reactjs/react-chartjs/issues/84#issuecomment-232771416

[2018-01-03 07:05] benmccann commented on #156
See https://github.com/chartjs/chartjs-plugin-zoom

[2018-01-03 07:06] #138 closed

[2018-01-03 07:07] benmccann commented on #138
I've closed this since it's a duplicate issue. I've also started discussion with the maintainers of react-chartjs-2 about merging that code into this repo

[2018-01-03 07:09] benmccann commented on #191
Please see https://github.com/reactjs/react-chartjs/issues/154. Closing this issue as a duplicate

[2018-01-03 07:09] #191 closed

[2018-01-03 07:09] benmccann commented on #172
Please see https://github.com/reactjs/react-chartjs/issues/154. Closing this issue as a duplicate

[2018-01-03 07:09] #172 closed

[2018-01-03 07:10] benmccann commented on #183
Seems like the PR to fix this was merged

[2018-01-03 07:10] #183 closed

[2018-01-03 07:12] benmccann commented on #195
Closing since https://github.com/reactjs/react-chartjs/pull/192 has been merged to fix this

[2018-01-03 07:12] #195 closed

[2018-01-03 07:42] benmccann commented on #154
@jerairrest I think the main thing to think through is that lib/core.js in this repo is a bit different from jerairrest/react-chartjs-2/src/index.js. We should try to make sure we're taking the best ideas from both and combining them when we merge. Perhaps you'd be able to summarize the main differences between the approaches?

[2018-01-03 12:05] #201 closed

[2018-01-03 12:05] DylanPMunyard commented on #201
Hello - this has just been resolved, https://github.com/reactjs/react-chartjs/pull/192

[2018-01-03 17:52] austinpray commented on #154
@jerairrest @benmccann btw both of you guys have npm access now.

Recommend releasing the current master as 1.0.0 and then whatever breaking changes ya'll do in the merge release a 2.0.0

[2018-01-05 03:48] nakulsolanki opened #204 "Cannot create a production build"
I used create-react-app to create my application. When i try to create a production build using build command i get the following error:
Creating an optimized production build...
Failed to compile.

Failed to minify the code from this file:

        ./node_modules/react-chartjs/lib/core.js:8

Read more here: http://bit.ly/2tRViJ9

[2018-01-05 05:23] DylanPMunyard commented on #204
Hi @austinpray, @benmccann, my change to replace createReactClass with ES6 class may only work in client-side libraries, in a server app created using create-react-app -> npm build run is showing the error reported by @nakulsolanki. Can you review my PR, https://github.com/reactjs/react-chartjs/pull/205.

I have reverted the change, and then used create-react-app instead as the fallback, suggested

[2018-01-05 16:37] austinpray commented on #204
released as 1.1.0

[2018-01-05 16:37] #204 closed

[2018-01-06 06:52] Jareechang commented on #185
can you try upgrading chart.js version to 2.5.0 as suggested by @jonchoi in #178 ?

[2018-01-06 07:14] Jareechang commented on #200
hey @benmccann, I saw you making some merges to **chartjs-v2** branch.

Why don't we just work on that branch, release as the version you've specified for now while we test it in beta - **2.0.0-beta2** ?

I think once we're ready we can just release **react-chartjs** as 2.0.0 with **Chartjs 2.0**.

[2018-01-10 00:36] cbfranca commented on #189
+1

[2018-01-13 22:46] Jareechang commented on #200
@benmccann and @jamding I am going to go through what we have in our issues and label as `version 2.0.0` for features needed for **Chart.js 2.0**.

[2018-01-13 22:48] Jareechang commented on #194
I believe this has been fixed by #192. Closing issue.

[2018-01-13 22:48] #194 closed

[2018-01-13 22:49] Jareechang commented on #189
I am backlogging this issue because I think we should focus on **Chart.js 2.0** support before talking about supporting react native

[2018-01-13 22:57] Jareechang commented on #182
hi everyone, please refer to [Chart.js version 1.1.1 Documentation](https://github.com/chartjs/Chart.js/tree/v1.1.1/docs).

The `react-chartjs` library on master currently only supports this version of `Chart.js`.

We're in the process of adding support for **Chart.js 2.0**.

If you want help out, please use the branch `chartjs-v2` to test out, and issue bug tickets. I will try to fix it.

[2018-01-13 23:04] Jareechang commented on #177
Please see Documentation for **Chart.js 1.1.1** in README. This is working for me. Closing issue.

[code]

[2018-01-13 23:04] #177 closed

[2018-01-13 23:06] Jareechang commented on #168
wrong library please see [react-chartjs-2 ](https://github.com/jerairrest/react-chartjs-2) for support. Thanks.

[2018-01-13 23:06] #168 closed

[2018-01-13 23:10] Jareechang commented on #144
Hi everyone, is this still an issue ?

[2018-01-13 23:10] Jareechang commented on #141
yes, we will be integrating this very soon.

[2018-01-13 23:10] #141 closed

[2018-01-13 23:10] acomito commented on #189
victory charts has a library for those who need a solution in the mean time:
https://github.com/FormidableLabs/victory-native

[2018-01-13 23:12] Jareechang commented on #152
This will be available in react-chartjs 2.0 once we have a stable version.

[2018-01-13 23:12] #152 closed

[2018-01-13 23:12] Jareechang commented on #159
This will be available in `react-chartjs 2.0` once we have a stable version. Please see branch `chartjs-v2`.

[2018-01-13 23:12] #159 closed

[2018-01-13 23:15] Jareechang commented on #114
Please help us test the branch `chartjs-v2`. That will help us release v2 version as `2.0.0`.

[2018-01-13 23:37] jslok commented on #189
React-native-highcharts works well for me.

[2018-01-14 00:10] Jareechang commented on #113
will be fixed in #180 when PR is updated

[2018-01-14 00:30] Jareechang commented on #160
closing issue.

[2018-01-14 00:30] #160 closed

[2018-01-14 00:31] Jareechang commented on #148
Thank you @octalmage for the link here. I've added a link to the documentation in README.

Closing issue.

[2018-01-14 00:31] #148 closed

[2018-01-14 00:32] Jareechang commented on #134
closing due to issue being differences in documentation.

[2018-01-14 00:32] #134 closed

[2018-01-14 20:28] Jareechang commented on #169
@CallMeXYZ, can you provide more details on this issue ?

[2018-01-14 21:25] Jareechang commented on #137
This should be updated now. Closing issue.

[2018-01-14 21:25] #137 closed

[2018-01-14 21:33] Jareechang commented on #156
plugins have only been introduced in [Chart.js version >= 2.1.0 ](http://www.chartjs.org/docs/latest/developers/plugins.html). I'll label this as 2.0.0.

[2018-01-14 21:50] Jareechang opened #209 "access to npm"
@austinpray, @jerairrest, @benmccann when one of you guys get a chance could you please provide access to npm package. I'd like to start adding some changes, and publishing them.

**my account:** https://www.npmjs.com/~jareechang

Thanks.

[2018-01-14 21:52] Jareechang commented on #176
@alexfqc, could you please provide an example where this is occurring ? Thanks

[2018-01-15 16:59] benmccann commented on #209
@Jareechang what do you think the strategy should be? Should we just replace this code base with @jerairrest's [react-chartjs-2](https://github.com/jerairrest/react-chartjs-2)? I know Chart.js pretty well, but not React too well. It seems like these two codebases take somewhat different approaches, but I don't know if there's anything that one does particularly stronger than the other

[2018-01-15 17:05] jerairrest commented on #209
I'm also fine transferring the entire project to the reactjs project instead of taking the multiple branch approach.

For chart.js 1 you would use reactjs/react-chartjs
For chart.js 2 you would use reactjs/react-chartjs-2

Thoughts?

[2018-01-15 17:11] benmccann commented on #209
What would happen when we have a Chart.js 3 release in that case? I'm not sure we'll want to make a new repo for every major release. Potentially we could rename this repo to react-chartjs-1 and rename react-chartjs-2 to just react-chartjs

I guess the other question is do we still want to actively maintain code supporting Chart.js 1.x? I personally am not very interested in that and would like to

[2018-01-15 17:14] jerairrest commented on #209
That is a valid point. If chartjs is not maintaining both version I would say deprecating v1 is probably the best idea.

[2018-01-15 17:17] benmccann commented on #209
No further updates are being made to Chart.js 1.x, so let's deprecate v1 as you suggest

[2018-01-16 01:51] CodePlayer7 commented on #169
when importing this project by url or cdn, we need to call `window['react-chartjs']` to get the reference. If exporting as ` ReactChartJs` then we can simply call  `ReactChartJs `

[2018-01-17 18:17] AliceSum commented on #171
I am a translator
我使用react-chartjs的时候，发现xy轴对应的数据与图表内显示的不一致，
When I use react-chartjs, I found out the data and the graph are different.

[2018-01-19 05:47] Jareechang commented on #209
@benmccann and @jerairrest, I agree with deprecating v1. `Chart.js 2.x` provides all feature that `Chart.js 1.x` provides and more.

Also, judging from the issues created on here, many people are asking for `Chart.js 2.x` support.

## Branching

A good starting point is integrating the two repos - **react-chartjs** and **react-chartjs-2**.

I think it would make sense for master branch to support

[2018-01-20 22:04] austinpray commented on #209
Hey! Sorry for 6 day turnaround but I went ahead and added you.

![image](https://user-images.githubusercontent.com/2192970/35188488-a80c4190-fdfb-11e7-80ee-d042a8033555.png)

[2018-01-22 16:40] benmccann commented on #209
I agree that the master should support Chart.js 2.x

Closing this issue since the npm access has been resolved

[2018-01-24 12:28] ismatim commented on #93
In my case was the incorrect version installed 1.1. should be ^2.

UPDATE: The error was quite different `Cannot read property 'bar' of undefined`

[2018-02-03 15:33] stelro opened #210 "Options doesn't work with React !6"
Hello, I am using react-chartjs version 1.2.0 and chart.js 1.1.1 and I have upgraded my App to react.js 16 and I have some issues with react-chartjs.

When I was using the module with react 15, everything was working alright like in the picture below
[https://imgur.com/a/ueUOg](url)
But since I upgraded to React 16, the options object sees to have broke, nothing is working as expected
[https://img

[2018-02-05 06:23] rudra0713 opened #211 "Installation Error"
Hi, After running npm install --save react-chartjs and npm install --save chart.js@^1.1.1 react react-dom commands, I tried to render the simple Line chart following the documentation. But then, I encountered an error, "View config not found for the name canvas". Have I missed any installation step? Any suggestion is highly appreciated.

[2018-02-09 09:00] geminiyellow commented on #21
working ?

[2018-02-09 19:27] narenvaishnavi commented on #211
I git cloned the project and run npm install but I am not able to install react-chartjs. Is it because of node and different npm version? Not able to run the application. Have I missed anything?

npm version:3.10.10
node version:6.11.1

[2018-02-27 02:34] exit99 commented on #126
`animate: false` does not work for me on v1.2.0.  The correct key is `animation: false`

[2018-02-27 23:44] andrewmontes87 opened #212 "Display first tooltip without hover"
I have a Doughnut chart where each segment has a tooltip. The tooltips work as expected when the user hovers - but, I'd like to have the tooltip for the first doughnut segment display automatically, when the chart loads, regardless of whether the user is hovering or not. Ideally if the user then hovers over the doughnut segments, this initial tooltip would disappear and the appropriate tooltip for

[2018-03-06 18:56] morenoh149 commented on #169
This seems like a small enough improvement one could submit a PR for. Would one change this file? https://github.com/reactjs/react-chartjs/blob/master/index.js

[2018-03-06 19:50] Jareechang commented on #169
Hi Everyone, I believe this is specified in webpack and not in the source code itself. I am happy to take PRs.

That being said, my only concern with this request is that it **may** break other people's projects using `window['react-chartjs']` if we change it. Unfortunately, I am a little hesitant with this change.

**Please see:**

- [Webpack Config](https://github.com/reactjs/react-chartjs/blob/

[2018-03-06 19:52] Jareechang commented on #211
could you please upload your code to a repo or provide some code examples ?

[2018-03-16 00:33] erberth opened #213 "Problems with animation option"
By default animation option is true but the chart rendered has x label wrong
![screenshot_1](https://user-images.githubusercontent.com/32841694/37497561-93212914-287e-11e8-9b31-5399f1f3d8c5.png)
If animation option is set to false, the x label works fine
![screenshot_3](https://user-images.githubusercontent.com/32841694/37497624-0ec45a1e-287f-11e8-8abd-c716e1d3ab84.png)
But if I pass the mouse, th

[2018-03-20 13:26] dkati opened #214 "Help with CDN"
good evening people.i am trying to use the cdn way (script link) and show a Pie chart but i cant

i dont use "require" commands neither "import"

thanks a lot

[2018-03-30 13:02] balgopal14 opened #215 "Is it possible to skip labels in a line chart if i have a large amount of data in react-chartjs1.2.0"
I have over 500 data points to show in a line chart. But there is not enought space to show a label for each data point. The labels are sorted dates on x-axes and price on y-axes . so I need a option that defines to show only each 4th, 5th, ... label on the x-axis. But for each data point the tooltip should show the correct and full label and value.

[2018-04-13 14:46] startFromHere opened #217 "Does react-chartjs support heatmap?"

[2018-04-15 14:34] peterremote1980 opened #218 "no full example? where is chartData and chartOptions?"
no full example? where is chartData and chartOptions?

[2018-04-27 15:03] nicolashWebikeo opened #219 "Hidden datasets"
I try to hide one of my datasets but it doesn't work

`datasets: [
                                    {
                                        ...this.state.dataRate.datasets[0],
                                        label: this.context.intl.formatMessage({ id: 'subscription_rate' }),
                                        hidden: true,
                                    }
]`

[2018-04-29 17:33] AnisDerbel commented on #218
+1

[2018-04-29 18:50] kas commented on #20
Adding `redraw` as a prop fixed this issue for me.

https://stackoverflow.com/a/48930199

[2018-04-29 19:56] Legendofire opened #220 "Can't resolve 'chart.js'"
I installed react-chartjs via NPM and when i try and use Pie i get the error Error Can't resolve 'chart.js' in '/home/a7meds3d/Documents/WorkSpace/MERN/CIOChatbot/node_modules/react-chartjs/lib'.

[2018-05-02 14:15] larsdouweschuitema commented on #220
The documentation reads:

Run the following command:
`npm install --save chart.js`

[2018-05-02 15:37] Legendofire commented on #220
The error message was after I installed chart.js, maybe I installed chartjs not chart.js.
Will test it again.

[2018-05-06 10:59] ghost commented on #218
I had this problem.

If you download [React Developer Tools for Chrome ](https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en) You can inspect the chart and see its props.

[2018-05-07 05:13] dcworldwide opened #221 "Pan and zoom possible?"
Is it possible to pan and zoom the chart?

I'd like to show only 12 months of data at a time. But give the user the option of panning back in time to see older data.

[2018-05-07 05:21] dcworldwide commented on #221
https://github.com/reactjs/react-chartjs/issues/156

[2018-05-07 05:21] dcworldwide commented on #156
Would love to see this. We'll have a need for it in the next month as our company age is starting to make stat panning important.

[2018-05-07 05:23] dcworldwide commented on #156
I've been using react-chartjs with chartjs 2.6. Does this mean that I can use the https://github.com/chartjs/chartjs-plugin-zoom now?

[2018-05-09 18:52] rfarney3 commented on #160
You have to pass the options object in just as you would pass the data. For example, I have

`const data = {
        labels: ["Anger", "Joy", "Fear", "Surprise", "Sadness"],

        datasets: [{
          label: "New York Times",
          fill: false,
          lineTension: 0.1,
          backgroundColor: "black",
          borderColor: "black",
          data: [this.getEmotionByStation("anger",

[2018-05-09 19:05] irfanbaigse commented on #189
+1

[2018-05-17 00:26] mefeghhi commented on #57
https://betballist.com

[2018-05-17 14:57] wkolcz-UMHS commented on #218
Not sure if this helps but if you got to the chartjs site, you can copy the examples to produce a chart and then follow the core libraries standards.

For example: a donut chart, https://github.com/chartjs/Chart.js/blob/v1.1.1/docs/05-Pie-Doughnut-Chart.md and you can copy the array of objects in the Data structure section (exactly) into the chartData variable and the Chart options array into a ch

[2018-05-17 14:59] wkolcz-UMHS commented on #189
+1

[2018-05-19 09:56] peterremote1980 commented on #218
thx

[2018-05-21 10:41] nanomosfet commented on #154
Need any help with this? Not having up to date chart js is annoying for me because chart.js only has [this github source](https://github.com/chartjs/Chart.js/tree/v1.1.1/docs) for the source so i'm willing to put in some work to get it done.

[2018-05-25 00:18] tankorsmash commented on #210
I was looking at the v16 changelog and it mentions some stuff was changed around with React's lifecycle, but it doesn't seem to be the case. Can't figure this out either.

[2018-05-25 20:40] Jareechang commented on #210
@stelro, can you please upload an example ?

[2018-06-13 17:29] jtmkrueger commented on #97
yea, this is pretty brutal, and the display block doesn't seem to work for me :\

[2018-06-13 17:51] jtmkrueger commented on #97
So I figured out what I needed to do here. Just wrap the `ChartComponent` in an surrounding div and give it the styles you want.
[code]
then in your css file:
[code]
This seemed to get rid of all my issues! The key was setting the `position: relative;` on the surrounding div.

[2018-06-22 03:51] Bbowen100 commented on #189
+1

[2018-06-27 21:24] Tom-Gorup commented on #220
@larsdouweschuitema This solved my problem. Thanks!

[2018-07-02 05:56] Linton-Samuel-Dawson opened #222 "not supporting percent in width"
`<Line width="100%"  height="250"  />` It's expected to set width 100% but when it rendered width is 100px.
    how to set width to 100% of parent's width?

[2018-07-03 16:18] CWSites commented on #200
We are on version 2.7.0 of `chartjs` and `react-chartjs-2` so what is the status of doing a combo line & bar chart?

[2018-07-08 05:05] #218 closed

[2018-08-07 13:23] katiawheeler commented on #210
Any update on this?

[2018-08-07 14:37] jsina commented on #118
I've done it with this code. although I've use the chart.js for showing on `WebView` on my application.
` <canvas style="width: 100% !important;height: auto !important;" id="canvas">`

[2018-08-08 09:29] khoand040792 commented on #189
+1

[2018-08-14 08:00] jerdie commented on #189
+1

[2018-08-29 19:01] alondahari commented on #218
I think it would be very helpful to include those in the example page, and also in the repo (under examples folder).
@peterremote1980 IMO this issue is still open...

[2018-09-05 11:28] amineb01 commented on #220
@larsdouweschuitema thank you !

[2018-09-11 08:27] francisco4challenge opened #223 "Allow complex data values"
Hi, is it possible to allow the data property to have an array of objects with a specific structure, like:
{ value: 32, [anything else] } and use the value prop to make the chart? Or define a "render" prop to be a allow a function that determines how to get the value. ( (point) => point.value )

I'm asking this because i need to have a something in the chartElement object that i can link to a stru

[2018-09-20 14:53] ReangeloJ commented on #189
+1

[2018-09-28 19:17] gion commented on #220
Why not add `chart-js` as an actual dependency in the `package.json` file?

[2018-10-12 08:57] agent3bood commented on #210
I have made this pen as an example and it is working fine
https://codepen.io/agent3bood/pen/bmrbqp?editors=0010
If the issue something else please tell me so I can work on it.

[2018-10-12 09:14] agent3bood commented on #151
I suggest closing this issue.

[2018-10-12 11:05] #151 closed

[2018-10-14 14:06] agent3bood commented on #141
I want to put some time in writing the test for this library.
I am not sue where to start, and should I test the master branch or V2?
I saw that chart.js is using jasmine and karma.
@Jareechang if you have time answering my questions I will appreciate it.

[2018-10-24 13:04] javaProgrammer44 commented on #220
Please add these in angular.json file
"scripts": [
  "node_modules/chart.js/dist/Chart.js",
  "node_modules/hammerjs/hammer.min.js"
],

[2018-10-25 09:40] Moneemsaadaoui opened #225 "Demoes website crashing"
while fiddling around with the randomize button on the doughnut chart
the page has crashed multiple times with the following console log
"main.9d247b57.js:14 TypeError: Cannot read property 'startAngle' of undefined
    at DoughnutChart.4972dc29.js:31
    at Array.map (<anonymous>)
    at DoughnutChart.4972dc29.js:31
    at Array.map (<anonymous>)
    at e.value (DoughnutChart.4972dc29.js:31)

[2018-10-25 09:41] #225 closed

[2018-10-26 18:14] ImBarry commented on #113
@Jareechang any idea when this will be merged??

[2018-11-12 07:04] fdalvi commented on #210
@agent3bood, I just added a few options that _do not work_ to your codepen: https://codepen.io/anon/pen/MzjNQw?editors=0010

Hope this helps!

[2018-11-12 14:11] agent3bood commented on #210
@fdalvi I think you referring to some options in chart.js version 2.
This library support only chart.js version 1.1.1, please refer the docs here
https://github.com/chartjs/Chart.js/tree/v1.1.1/docs
Here is an idea for you
Instead of padding you can use ```offsetGridLines: True```

[2018-11-12 14:21] agent3bood commented on #223
This functionality is part of the chart.js library, react-chartjs is just a wrapper.
According to the docs https://github.com/chartjs/Chart.js/blob/v1.1.1/docs/01-Line-Chart.md you have to pass an array of points, if you are getting complex data from your api you have to arrange it in the way that the library will accept.

[2018-11-12 14:26] agent3bood commented on #222
Setting width of a canvas element is not an option (it is not a possible even in plain html)
Reade more here https://www.w3schools.com/tags/att_canvas_width.asp

[2018-11-12 14:30] agent3bood commented on #219
Hidden is an option of chartjs version 2 https://www.chartjs.org/docs/latest/configuration/legend.html?h=hidden
This library support version 1.1.1 https://github.com/chartjs/Chart.js/tree/v1.1.1/docs

[2018-11-12 14:34] agent3bood commented on #214
your render is wrong
try this
[code]

[2018-11-13 06:32] fdalvi commented on #210
Thanks @agent3bood, you are absolutely correct! I actually switched to `react-chartjs-2` since it uses the latest (and probably better supported) Chart.js library.

[2018-11-17 09:00] RZsam commented on #222
@agent3bood thank you

[2018-11-17 09:00] #222 closed

[2018-12-04 21:47] jrutz commented on #215
I also ran into this issue. It doesn't seem to be supported in this particular version of chartJs. The workaround I found for displaying a minimal number of ticks was to do a mod on the label array (not sure what the resolution would be for the tooltips)

[code]

Would still love to see support of the ` autoSkip ` option in the future

[2018-12-14 23:52] diegocam commented on #79
Any updates on this?

[2018-12-22 21:34] adamnator92 commented on #158
i having the same issue too, but i solve it by given a default height to the `div`
[code]

[2019-01-10 10:24] kumarbitthal commented on #220
Install missing charts dependencies: charts.js & angular2-chartsjs
I installed it locally and it worked. Don't forget to import these in your code.

[2019-02-20 01:17] toddpratt opened #228 "Unhandled Exception"
TypeError: (new Chart(...))[chartType] is not a function

This is what I'm using:

{
  "name": "ui",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "chart.js": "^2.7.3",
    "react": "^16.8.1",
    "react-chartjs": "^1.2.0",
    "react-dom": "^16.8.1",
    "react-scripts": "2.1.5",
    "reactstrap": "^7.1.0"
  },
  "scripts": {
    "start": "react-scripts start",
    "build": "re

[2019-03-01 15:47] aarongreenwald commented on #228
I had the same issue, downgrading to chart.js@1.1.1 fixed it.

[2019-05-15 17:13] aslaugsollilja commented on #97
Having the same issue, any news on this?

[2019-05-19 15:34] kgaurav0212 opened #229 "TypeError: Cannot read property 'offsetWidth' of undefined"
computeDimension
node_modules/chart.js/Chart.js:30
  27 | //Variables global to the chart
  28 | var computeDimension = function(element,dimension)
  29 | {

  31 | 	{
  32 | 		return element['offset'+dimension];
  33 | 	}

TypeError: Cannot read property 'config' of undefined
ChartComponent.destroyChart
node_modules/react-chartjs-2/es/index.js:265
  262 |   // tab gets switched to the chart and u

[2019-05-22 12:53] hstemplewski commented on #156
@dcworldwide Are you use zoom and is it works ?

[2019-05-30 04:57] YashMeh commented on #97
Wrapping the chart around `<div>` worked for me.
Also set
[code]
And then set the `height={200}` :smile:

[2019-06-21 16:23] armandn commented on #97
I created a wrapper div with
[code]

and I set
[code]

however, the chart only expands in width. If I increase the width of the browser window, the chart width increases as well. If I decrease the width, the chart stays the same.

Any ideas?

[2019-07-03 22:16] lloyddugmore commented on #182
Hi @Jareechang
is there any timeframe on a resolution for this?

`const data = {
    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
    datasets: [
        {
            label: 'My First dataset',
            fill: false,
            lineTension: 0.1,
            backgroundColor: 'rgba(75,192,192,0.4)',
            borderColor: 'rgba(75,192,192,1)',
            borderCap